.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 55px;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
  border-radius: 0 0 4px 4px;
}

//.createForm {
//  :global{
//    .c7n-pro-calendar-picker-wrapper label, .c7n-pro-calendar-picker-suffix {
//      z-index: auto;
//    }
//  }
//}
