.title-content {
  display: flex;
  margin: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  > p {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
  }
}

.title-header {
  display: flex;
  flex: 1;
  margin: auto;
  font-size: 14px;
  p {
    margin: auto 0;
    margin-left: 20px;
  }
  p:last-child {
    margin-left: 40px;
  }
}
