.zcom-delivery-headInfo {
  height: 50px;
  line-height: 50px;
  background: rgb(242,242,242);
  font-size: 14px;
  .headInfo-toggle {
    color: #29BECE;
    margin-left: 20px;
    cursor: pointer;
  }
}
.base-line {
  display: flex;
  height: 40px;
  align-items: center;
  .base-line-tag {
    height: 40px;
    border-left: 3px solid #29BECE;
    margin-right: 20px;
  }
  .base-line-title {
    font-size: 16px;
    font-weight: bolder;
  }
}
