.lmds-kitting-set-content {
  .lmds-kitting-set-line-table {
    display: flex;
    margin-top: 16px;
    > div {
      width: calc(50% - 8px);
    }
    > div + div {
      margin-left: 16px;
    }
  }
}
