.zplan-sales-template {
  // 智能运行参数以及智能预测范围
  .zcom-delivery-apply-info:not(:first-child) {
    margin-top: 15px;
  }
  :global {
    .c7n-spin-nested-loading {
      width: 780px;
    }
  }
}
// 短表格中的暂无数据提示居中
// .xxx为TabPane的类名  .c7n-pro-table-wrapper为固定类名
.zplan-plan-detail-table {
  :global {
    .c7n-pro-table-wrapper {
      width: 700px;
    }
  }
}
.zcom-delivery-apply-info {
  height: 40px;
  line-height: 40px;
  background: rgb(242, 242, 242);
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 5px;
  .info-toggle {
    color: #29bece;
    margin-left: 20px;
    cursor: pointer;
    .info-toggle-icon {
      font-size: 20px;
    }
  }
  :global {
    .icon {
      color: #29bece;
      font-size: 30px;
    }
  }
}
.zplan-sales-task-darkbtn {
  background-color: #1e3255 !important;
}
