.zmda-group-content {
  :global {
    .c7n-pro-btn:not(.c7n-pro-btn-flat) {
      border: none;
      padding: 0;
    }
    .c7n-pro-btn-default {
      color: #29bece;
    }
  }
  .group-name {
    margin-top: 5px;
    display: flex;
    align-items: center;
  }
}
.zmda-group-modal {
  :global {
    .c7n-pro-input-disabled {
      .c7n-pro-input {
        background: #fff;
        border: none;
      }
    }
  }
}
