.lmes-non-production-task {
  display: flex;
  .upload-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    .text {
      display: inline-block;
      width: 100px;
      text-align: right;
    }
    > span:last-child {
      a {
        width: 100px;
      }
    }
  }
  > div {
    width: 50%;
  }
}
