.zcom-po-maintain-content {
  :global {
    .c7n-pro-output-wrapper {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .c7n-pro-textarea-disabled {
      .c7n-pro-textarea {
        color: rgba(0, 0, 0, 0.7);
      }
      .c7n-pro-textarea:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .c7n-pro-textarea {
      line-height: 16px;
    }
  }
}
