.mul-mo-create-wrapper {
  width: 100%;
  .header-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .top-query {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    .top-query-left {
      flex: 5;
    }
    .top-query-right {
      flex: 1;
      height: 50px;
      line-height: 45px;
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .bottom-table {
    margin-top: 10px;
  }
}
.my-mo-height-search-list {
  :global {
    .c7n-pro-modal-container-pristine {
      height: 100%;
      top: 0%;
      left: 0;
      transform: translate(0, 0);
    }
  }
}
