.lwms-issue-request-receive-pick-modal {
  width: 1065px;
  height: calc(100vh - 20px);
  overflow: hidden;
  z-index: 999;
  .c7n-pro-modal-header {
    background: #ebebeb;
    padding: 17px 24px;
    .c7n-pro-modal-title {
      height: 30px;
      line-height: 30px;
      font-size: 22px;
      color: #666;
    }
  }
  .c7n-pro-modal-body {
    padding: 17px 24px;
    overflow: hidden;
    .query {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      font-size: 24px;
      color: #333;
      > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        img {
          margin-right: 4px;
        }
        &.item {
          width: 280px;
        }
        &.location {
          width: 280px;
        }
      }
      .input-scan {
        position: relative;
        border: 1px solid #979797;
        .c7n-pro-input-wrapper {
          width: 314px;
        }
        .c7n-pro-input {
          width: 276px;
          height: 48px;
          border: none;
          outline: none;
          font-size: 20px;
        }
        .c7n-pro-input-placeholder {
          color: #999;
        }
        .c7n-pro-input:focus {
          box-shadow: none;
        }
        > img {
          position: absolute;
          right: 8px;
          top: 12px;
        }
      }
    }
    .list {
      width: 1017px;
      // height: calc(100vh - 181px);
      margin-bottom: 16px;
      .c7n-pro-checkbox-wrapper {
        margin: -4px 16px 0 16px;
        .c7n-pro-checkbox-inner {
          width: 24px;
          height: 24px;
        }
        .c7n-pro-checkbox-inner:after {
          margin-top: 3px;
          margin-left: 5px;
        }
      }
      th,
      td {
        width: 339px;
      }
      thead {
        display: table;
        width: 1017px;
        height: 44px;
        background: linear-gradient(0deg, #d5d5d5 0%, #e3e3e3 100%);
        font-size: 22px;
        color: #1c879c;
      }

      tbody {
        display: block;
        height: calc(100vh - 321px);
        overflow-y: scroll;
        border-collapse: collapse;
        tr {
          display: table;
          width: 1017px;
          height: 80px;
          background: rgba(193, 193, 193, 0.18);
          font-size: 20px;
          color: #031b2a;
          border: 1px solid #ccc;
          .input {
            display: flex;
            align-items: center;
            margin-top: 12px;
          }
        }
        tr:nth-child(2n) {
          background-color: #fff;
        }
        &.tag {
          tr {
            height: 48px;
          }
        }
      }
    }

    .down-icon {
      margin-left: 50%;
    }

    .footer {
      width: 262px;
      float: right;
      margin-top: 10px;
      button {
        width: 123px;
        height: 48px;
        font-size: 20px;
        &.c7n-pro-btn-default {
          color: #999;
        }
        &.c7n-pro-btn-primary {
          background: #1c879c;
          color: #fff;
        }
      }
    }
  }
}
.lwms-issue-request-receive-pick {
  color: #333;
  overflow: hidden;
  p {
    margin: 0;
  }
  .lwms-issue-request-receive-pick-top {
    width: 100%;
    height: 64px;
    line-height: 64px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #076476 0%, #1d889d 100%);
    font-size: 21px;
    color: #fff;
  }
  .lwms-issue-request-receive-header {
    width: 100%;
    height: 64px;
    display: flex;
    padding: 16px 43px 16px 76px;
    background-color: #fff;
    > div {
      display: flex;
      width: 40%;
      font-size: 22.4px;
    }
    > div:last-child {
      width: 10%;
    }
    .circle {
      width: 32px;
      height: 32px;
      margin-right: 8.2px;
      border-radius: 50%;
      border: 1px solid #1c879c;
      color: #1c879c;
      line-height: 32px;
      text-align: center;
      span:before {
        content: '\2713';
        color: #1c879c;
      }
      &.gray {
        border: 1px solid #999;
      }
    }
    .title {
      width: 68px;
    }
    .line {
      width: 65%;
      margin: 15.5px 1.6% 0 1.6%;
      border-top: 1px solid #1c879c;
      &.gray {
        border-top: 1px solid #999;
      }
    }
    .gray {
      color: #999;
    }
  }
  .lwms-issue-request-receive-content {
    display: flex;
    margin: 16px;

    .lwms-issue-request-receive-content-left {
      flex: 0 0 24.2vw;
      height: calc(100vh - 222px);
      overflow-y: scroll;
      border: 1px solid #ccc;
      background: #fff;
      .lwms-issue-request-receive-content-left-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 17px 24px;
        border-bottom: 1px solid #ccc;
        img {
          width: 42px;
          height: 42px;
          border-radius: 50%;
          border: 2px solid #3f8795;
        }
        .name {
          height: 42px;
          font-size: 22px;
          margin-left: 20px;
          vertical-align: middle;
        }
        .type {
          width: 80px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          padding: 3px 11px;
          background: #1c879c;
          font-size: 18px;
          color: #fff;
          text-align: center;
          line-height: 22px;
        }
        .status {
          font-size: 16px;
          color: #2d9558;
          margin-left: 8px;
          vertical-align: middle;
        }
      }
      .lwms-issue-request-receive-content-left-content {
        padding: 19px 24px;
        font-size: 22px;
        > p {
          margin-bottom: 36px;
          height: 30px;
          > img {
            width: 30px;
            height: 30px;
            margin-right: 8px;
          }
        }
        .order {
          height: 40px;
          font-size: 28px;
          margin-bottom: 24px;
          #num {
            opacity: 0;
            position: absolute;
            z-index: -999;
          }
          > img {
            cursor: pointer;
            z-index: 999;
          }
        }
      }
    }
    .lwms-issue-request-receive-content-right {
      flex: 1;
      height: calc(100vh - 280px);
      margin-left: 16px;
      position: relative;
      .lwms-issue-request-receive-content-right-header {
        height: 48px;
        margin-bottom: 16px;
        display: flex;
        .c7n-pro-input-wrapper {
          input {
            width: 17.2vw;
            height: 48px;
            font-size: 20px;
          }
        }
        .c7n-pro-input-placeholder,
        .c7n-pro-select-placeholder {
          color: #999;
        }
        .c7n-pro-select-wrapper {
          margin-left: 1.1vw;
          .c7n-pro-select {
            width: 13.8vw;
            height: 48px;
            font-size: 20px;
          }
          .c7n-pro-select-suffix {
            .icon {
              transform: scale(2);
            }
          }
        }
        .c7n-pro-btn {
          margin-left: 1.1vw;
          background: #1c879c;
          width: 8.5vw;
          height: 48px;
          font-size: 20px;
        }
      }
      .lwms-issue-request-receive-content-right-content {
        width: 100%;
        height: calc(100vh - 287px);
        overflow-y: scroll;
        .list-item {
          margin-bottom: 16px;
          background: #fff;
          border: 1px solid #ccc;
          .item-header {
            display: grid;
            grid-template-columns: 50% 30% 20%;
            align-items: center;
            padding: 16px 18px;
            font-size: 22px;
            color: #333;
            .receive-qty {
              height: 56px;
              line-height: 56px;
              span {
                display: inline-block;
              }
              .icon {
                width: 20px;
                height: 20px;
                margin-right: 19px;
                font-size: 20px;
                line-height: 9px;
                color: #1c879c;
                border: 2px solid #1c879c;
                text-align: center;
                cursor: pointer;
                &.disabled {
                  border: 2px solid #999;
                  color: #999;
                  cursor: not-allowed;
                }
              }
              .qty {
                width: 252px;
                height: 56px;
                vertical-align: middle;
                margin-left: 17px;
                margin-right: 12px;
                text-align: center;
                font-size: 28px;
                color: #999;
                background: #f7f7f7;
                border: 1px solid #ccc;
              }
              .uom {
                font-size: 24px;
              }
            }
            .receive-item {
              height: 56px;
              .item-code {
                font-size: 18px;
                color: #666;
              }
            }
            .receive-date {
              text-align: right;
            }
          }
          .item-line {
            display: flex;
            justify-content: space-between;
            padding: 14px 18px 13px 133px;
            font-size: 18px;
            color: #333;
            border-top: 1px solid #ccc;
            .qty {
              font-size: 21px;
              margin-right: 8px;
            }
          }
        }
        .list-item:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    z-index: 999;
    width: 100%;
    padding: 16px 0;
    background: linear-gradient(to bottom, #adaeb0 0%, #c4c5c7 100%);
    .icon {
      width: 88px;
      height: 88px;
      margin-right: 32px;
      background-image: linear-gradient(0deg, #cdcecf 0%, #e5e7e9 100%);
      img {
        margin: 5px 20px 5.3px;
      }
      .line {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(
          90deg,
          rgba(145, 145, 145, 0) 0%,
          rgba(173, 173, 173, 0.49) 50%,
          rgba(151, 151, 151, 0) 100%
        );
      }
      .text {
        margin-top: 2.7px;
        font-size: 16px;
        color: #051e2d;
        text-align: center;
      }
    }
  }
}
