.table-top {
  :global {
    .c7n-pro-table-row-height-fixed .c7n-pro-table-cell-inner {
      line-height: auto;
    }
  }

  .td-action {
    display: flex;
    a {
      text-align: center;
      &:first-child {
        margin-right: 20px;
      }
    }
    p {
      margin-bottom: 0;
      line-height: 0.17rem;
    }
  }
}
