.zcom-delivery-apply-detail-content {
  .zcom-delivery-apply-info:not(:first-child) {
    margin-top: 15px;
  }
  :global {
    .c7n-pro-output-wrapper {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
.zcom-delivery-apply-info {
  height: 50px;
  line-height: 50px;
  background: rgb(242, 242, 242);
  font-size: 14px;
  margin-bottom: 15px;
  .info-toggle {
    color: #29bece;
    margin-left: 20px;
    cursor: pointer;
  }
}
