.Tags {
  position: absolute;
  width: auto;
  height: 46px;
  left: 10px;
  right: 10px;
  top: 5px;
  background: #fff;
  border-radius: 4px;
  .Tag_button {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  .Tag_button_type {
    background-color: #00b3a9;
    color: #fff;
  }
  .Tag-left {
    position: relative;
    left: 20px;
    top: 12px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 4px 0 0 4px;
    padding: 2px 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }
  .Tag-right {
    position: relative;
    left: 20px;
    top: 12px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    padding: 2px 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
  }
}
.Query {
  position: absolute;
  width: auto;
  height: 61px;
  left: 10px;
  right: 10px;
  top: 56px;
  background: #fff;
  border-radius: 4px;
  .Query-field {
    :global {
      .c7n-pro-field-wrapper {
        margin: 0 8px 0 8px;
      }
      .c7n-pro-select-wrapper {
        width: 100%;
      }
    }
  }
}
.Doing {
  position: absolute;
  width: 68%;
  height: 510px;
  left: 10px;
  top: 126px;
  background: #f1f8e9;
  border: 1px solid #66bb6a;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: auto;
  .Doing-table {
    background: #fff;
    margin: 10px 15px;
  }
  .Doing-label {
    color: #33691e;
    margin: 24px 15px;
    .Doing-label-text {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      margin: 0 10px 0 0;
    }
    .Doing-label-num {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 22px;
    }
  }
}
.Before {
  position: absolute;
  width: 30%;
  height: 510px;
  right: 10px;
  top: 126px;
  background: #fff8e1;
  border: 1px solid #fbc02d;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: auto;
  .Before-table {
    background: #fff;
    margin: 10px 15px;
  }
  .Before-label {
    color: #ff6f00;
    margin: 24px 15px;
    .Before-label-text {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      margin: 0 10px 0 0;
    }
    .Before-label-num {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 22px;
    }
  }
}
.Old {
  position: absolute;
  width: auto;
  height: 488px;
  right: 10px;
  left: 10px;
  top: 646px;
  background: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: auto;
  .header-search {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 15px;
    .Old-label {
      display: flex;
      justify-content: left;
      align-items: center;
      color: #333;
      .Old-label-text {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        margin: 0 10px 0 0;
      }
      .Old-label-num {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 22px;
      }
    }
    .header-search-first {
      position: relative;
      right: 18px;
    }
    .header-search-second {
      position: relative;
      right: -200px;
    }
  }
  .Old-table {
    background: #fff;
    margin: 10px 15px;
  }
}
