.dashboard-header {
  width: 100%;
  height: 50px;
  position: relative;
  background: #182534;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  @font-face {
    font-family: PangMenZhengDao;
    src: url('hlos-front/lib/assets/PangMenZhengDao.ttf');
  }
  font-family: PangMenZhengDao, serif;
  color: #fff;
  font-size: 34px;
  line-height: 39px;
  span {
    position: absolute;
    width: 400px;
    height: 39px;
    left: 50%;
    margin-left: -200px;
    letter-spacing: 0.115em;
    cursor: pointer;
  }
}
