.page-content {
  padding-top: 0;
}

.c7n-card-head-title {
  font-size: 16px;
}

.form-headInfo {
  .c7n-pro-input {
    border: none;
    background: #fff !important;
    color: #333 !important;
  }
}
