.lscm-scm-po-content {
  .lscm-scm-po-qty-from {
    display: inline-flex;
    :global {
      .c7n-pro-select-multiple {
        .c7n-pro-select {
          ul {
            height: 28px;
            overflow: hidden;
            width: 100%;
          }
        }
      }
      .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
        padding-right: 0;
      }
    }
  }

  :global {
    .c7n-pro-pagination {
      text-align: right;
    }
  }
  .lscm-scm-po-line {
    :global {
      .c7n-tabs {
        width: 100% !important;
      }
    }
  }
}
