.flex-between-content {
  display: flex;
  justify-content: space-between;
}

.task-item {
  height: auto;
  width: 200px;
  background: #fff;
  box-shadow: 0 1px 4px 1px rgba(217, 217, 217, 0.4);
  border-radius: 3px;
  padding: 5px 10px;
}

.task-item-header {
  .flex-between-content;
}

.task-item-header-bottom {
  .flex-between-content;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.task-status {
  display: inline-block;
  padding: 0 2px;
  color: #fff;
  background: #48d2a0;
  border-radius: 2px;
}

.craft-name {
  background: #f8f9fb;
  border-radius: 2px;
  padding: 1px 2px;
}

.task-num {
  margin-left: 5px;
}
