.ds-jc-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ds-jc-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.prod {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  .val,
  .desc {
    width: 100%;
    text-align: left;
    min-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .desc {
    color: #999;
  }
}

.lisp-production-planning-progress {
  .supply {
    height: 100%;
    background: #13c2c2;
  }
  .warehousing {
    height: 100%;
    background: #30c25b;
  }
  .finish {
    height: 100%;
    background: #fbcc14;
  }
  .making {
    height: 100%;
    background: #8543e0;
  }
  .legend {
    > span {
      width: 22px;
      margin-right: 16px;
    }
    .circle {
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-right: 4px;
      border-radius: 50%;
    }
  }
  .chart {
    width: 230px;
    height: 8px;
    background-color: #e8e8e8;
    display: flex;
  }
}

.content {
  background-color: #fff !important;
  margin: 0 8px;
  .c7n-pro-table {
    border: none;
  }
  .c7n-pro-table-thead.c7n-pro-table-column-resizable .c7n-pro-table-cell {
    border: none;
    background: #fff !important;
    color: #aaadba;
  }
  .c7n-pro-table-wrapper .c7n-pro-table table .c7n-pro-table-tbody > tr > td {
    border: none;
  }
  .c7n-pro-table-thead {
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  .c7n-pro-table-tbody {
    .c7n-pro-table-row {
      height: 72px;
    }
    .c7n-pro-table-empty-row {
      border-left: none !important;
    }
  }
  .c7n-pro-pagination {
    padding-right: 16px;
  }
}
