.raumplus-production-picking-board {
  :global {
    .c7n-pro-select-multiple {
      .c7n-pro-select {
        ul {
          height: 28px;
          overflow: hidden;
          width: 100%;
        }
      }
    }
  }
}
