.lmes-nonconforming-processing {
  overflow: auto;
  p {
    margin-bottom: 0;
  }
  .lov-select {
    height: 48px;
    background: #fff;
    border: 1px solid #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    > img {
      height: 26px;
      width: 26px;
      margin: 0 8px;
      position: absolute;
      z-index: 100;
    }
    .right-icon {
      right: 10px;
    }
    input {
      flex: 1;
      height: 100%;
      font-size: 20px;
      color: #999;
      border: none;
      padding-left: 0.6%;
      outline: none;
    }
    span:nth-of-type(1) {
      flex: 1 !important;
      height: 100%;
      label {
        height: 100%;
        input {
          height: 100%;
          border: none;
          font-size: 20px;
          color: #999;
          padding: 0 0 0 40px;
          text-align: left;
        }
        div {
          i::before {
            font-size: 0;
            color: #999;
          }
        }
      }
    }
    span:nth-of-type(2) {
      display: none;
    }
  }
  .have-right-icon {
    span:nth-of-type(1) {
      label {
        div:nth-of-type(1) {
          right: 60px !important;
        }
        div:nth-of-type(2) {
          right: 30px !important;
        }
        input {
          padding-right: 20%;
        }
      }
    }
  }
  .lmes-nonconforming-processing-sub-header {
    display: flex;
    padding: 21px 15px 0 24px;
    background: #fff;
    .avator {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #3f8795;
    }
    .form-area {
      display: flex;
      margin-left: 12px;
      :global {
        .c7n-pro-field-wrapper {
          margin-left: 20px;
          padding: 0 0 14px 0;
        }
        .c7n-pro-select,
        .c7n-pro-calendar-picker {
          height: 48px;
          padding-left: 42px;
          font-size: 20px;
          border: 1px solid #c1c1c1;
        }
        .c7n-pro-select-suffix {
          width: 60px;
          i::before {
            font-size: 24px;
            top: 0;
          }
        }
        .c7n-pro-calendar-picker-suffix {
          i::before {
            font-size: 24px;
            top: 12px;
          }
        }
        .c7n-pro-calendar-picker-range-split {
          display: none;
        }
        .c7n-pro-btn {
          width: 120px;
          height: 48px;
          font-size: 22px;
          &.c7n-pro-btn-default {
            border: 1px solid #1c879c;
            color: #1c879c;
          }
          &.c7n-pro-btn-primary {
            background-color: #1c879c;
            border: none;
          }
        }
        .c7n-pro-btn + .c7n-pro-btn {
          margin-left: 16px;
        }
      }
    }
    .expand {
      cursor: pointer;
      width: 22.2px;
      height: 24px;
      margin: 12px 0 0 17.2px;
    }
  }
  .content-container {
    flex: 1;
    padding: 18px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    .container-header {
      margin-left: 30px;
      button {
        height: 48px;
        font-size: 20px;
        margin-left: 0;
        border: 1px solid #979797;
        border-radius: 0;
        img {
          margin-right: 6px;
        }
      }
      .active-button {
        background: #1c879c;
        color: #fff;
        border: none;
      }
    }
    .container-table {
      //height: 200px;
      min-height: 200px;
      padding: 10px;
      background: white;
      margin: 20px;
      flex: 1;
      overflow: auto;
      .tag-list {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 65px 65px;
        .tag-line {
          display: flex;
          justify-content: space-between;
          background: #f4f5f7;
          padding: 10px 15px;
          margin: 10px 15px 10px 0;
          font-size: 14px;
        }
      }
    }
  }
  .lmes-nonconforming-processing-footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    z-index: 999;
    width: 100%;
    padding: 16px 0;
    background: linear-gradient(to bottom, #adaeb0 0%, #c4c5c7 100%);
    .icon {
      width: 88px;
      height: 88px;
      text-align: center;
      margin-right: 32px;
      background-image: linear-gradient(0deg, #cdcecf 0%, #e5e7e9 100%);
      cursor: pointer;
      :global {
        .zone-icon {
          line-height: 58px;
        }
      }
      img {
        margin: 5px 20px 5.3px;
      }
      .line {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(
          90deg,
          rgba(145, 145, 145, 0) 0%,
          rgba(173, 173, 173, 0.49) 50%,
          rgba(151, 151, 151, 0) 100%
        );
      }
      .text {
        margin-top: 2.7px;
        font-size: 16px;
        color: #051e2d;
        text-align: center;
      }
      :global {
        .c7n-pro-btn {
          width: 100%;
          border: none;
          .c7n-pro-btn-default:focus {
            border-color: none;
          }
          span {
            font-size: 16px;
            color: #051e2d;
            text-align: center;
          }
        }
      }
    }
    > div:last-child {
      display: flex;
      .icon:last-child {
        margin-right: 0;
      }
    }
  }
}
