.lmes-resource-plan-config-content {
  .c7n-pro-form {
    margin-bottom: 16px;
  }
  .lmes-resource-plan-config-table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
  }
}
