.lmes-smd {
  .c7n-pro-select {
    > ul {
      width: 100%;
      height: 28px;
      overflow: hidden;
    }
  }
  .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
    padding-right: 0;
  }
}
.lwms-smd-temp-line {
  width: 60%;
  .c7n-pro-modal-body {
    padding: 0;
  }
  .page-head {
    border-bottom: 0;
  }
  .page-content {
    padding: 0;
    margin-bottom: 50px;
  }
  .smd-header {
    div {
      display: flex;
      // justify-content: space-between;
      padding: 10px 10%;
      font-size: 14px;
      span:first-child {
        width: 75%;
      }
    }
  }
}
.lmes-smd-making-content {
  .lmes-smd-making-query {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    :global {
      .c7n-pro-select {
        > ul {
          width: 100%;
          height: 28px;
          overflow: hidden;
        }
      }
      .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
        padding-right: 0;
      }
    }
  }
  :global {
    .c7n-pro-pagination {
      float: right;
    }
  }
  .lmes-smd-making-line {
    margin-top: 50px;
  }
}
