.zcom-customer-order-content {
  :global {
    .c7n-pro-select {
      > ul {
        width: 100%;
        height: 28px;
        overflow: hidden;
      }
    }
    .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
      padding-right: 0;
    }
  }
}
.zcom-customer-order-refuse {
  width: 4.2rem;
  .refuse-title {
    margin-bottom: 0.15rem;
  }
  :global {
    .c7n-pro-modal-body {
      padding: 0.2rem;
    }
    .c7n-pro-select-box-wrapper {
      margin-bottom: 0.1rem;
    }
  }
}
