.lmes-moWorkspace-content {
  :global {
    .c7n-pro-select-multiple {
      .c7n-pro-select {
        ul {
          height: 28px;
          overflow: hidden;
          width: 100%;
        }
      }
    }
    .c7n-pro-pagination {
      text-align: right;
    }
    .c7n-pro-field-label,
    .c7n-pro-field-wrapper {
      padding-top: 0 !important;
    }
  }
  .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
    padding-right: 0;
  }
}
.lmes-mo-workspace-table {
  :global {
    .ant-table-tbody td {
      padding: 0 16px !important;
      height: 38px;
    }
  }
}
.lmes-mo-workspace-progress-modal {
  width: 800px;
  :global {
    .c7n-pro-modal-body {
      height: 500px !important;
    }
  }
}
