.completion-rate-report {
  .font {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
  width: 100%;
  .header-search {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 16px;
    :global {
      .c7n-pro-calendar-picker-wrapper {
        margin-left: 16px;
      }
    }
  }
  .query-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    :global {
      .c7n-pro-form {
        width: calc(100% - 120px);
        .c7n-pro-field-wrapper {
          margin-right: 24px;
        }
      }
    }
  }
  .mid-chart {
    margin: 8px 0 16px 0;
    .expend-or-hide {
      span {
        margin-left: 9px;
        .font();
      }
    }
  }
  .line-table {
    .line-table-title {
      margin-bottom: 16px;
      .font();
    }
  }
}
