.sub-header {
  display: flex;
  align-items: center;
  padding: 7px 0 7px 29px;
  background-color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #333;
  > div {
    display: flex;
    align-items: center;
    margin-right: 64px;
    // img {
    //   margin-right: 10px;
    // }
  }
  .worker {
    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 2px solid #3f8795;
      margin-right: 16px;
    }
  }
  .icon-parent {
    :global {
      .zone-icon {
        margin-right: 10px;
      }
    }
  }
}
