.zplan-prediction-version-line-query {
  :global {
    .c7n-pro-form > table > tbody > tr > td {
      vertical-align: middle;
    }
  }
  display: inline-flex;
}
.zplan-prediction-version-detail-content {
  .table-btns {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
  }
}
