.zexe-product-order-progress {
  :global {
    .c7n-pro-select-multiple {
      .c7n-pro-select {
        ul {
          height: 28px;
          overflow: hidden;
          width: 100%;
        }
      }
    }
    .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
      padding-right: 0;
    }
  }
}
