.upload-area {
  display: flex;
  > span {
    display: flex;
    width: 25%;
  }
  :global {
    .c7n-upload-list-text {
      display: flex;
      .c7n-upload-list-item-name {
        display: inline;
      }
      .c7n-upload-list-item-info .icon-attach_file {
        top: 3px;
      }
    }
  }
}
