.lwms-trp {
  :global {
    .c7n-pro-select {
      > ul {
        width: 100%;
        height: 28px;
        overflow: hidden;
      }
    }
    .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
      padding-right: 0;
    }
    .c7n-pro-pagination {
      text-align: right;
    }
  }
  .lwms-trp-header {
    display: flex;
    margin-bottom: 15px;
    .lwms-trp-header-more-query {
      flex-shrink: 0;
      display: flex;
      margin-top: 10px;
      margin-left: 8px;
    }
  }
}
