.lmes-sparepart-onhand-content {
  height: 100%;
  .c7n-performance-table {
    margin-left: 1px;
  }
  .c7n-pro-pagination {
    float: right;
  }
  .lmes-sparepart-onhand-query {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
  }
}
