.lisp-production-warehousing {
  .page-head {
    .page-head-title {
      font-size: 12px;
      color: #525a6e;
      line-height: 22px;
    }
    .page-head-operator {
      .c7n-pro-select-wrapper {
        margin-right: 8px;
      }
      .c7n-pro-btn {
        width: 72px;
        border: 1px solid #4f7de7;
        color: #4f7de7 !important;
      }
      .c7n-pro-btn-primary {
        background: #4f7de7 !important;
        border: none;
        color: #fff !important;
      }
      .c7n-pro-btn-primary.c7n-pro-btn-raised:enabled:hover {
        background: #959aa5 !important;
      }
      .more-btn {
        color: #62c0bc !important;
        line-height: 22px;
        cursor: pointer;
      }
    }
  }
  .sub-header {
    height: 60px;
    padding: 19px 0 0 8px;
    .c7n-pro-btn {
      padding: 0 5px;
      background: #62c0bc !important;
      color: #fff !important;
      border: none;
      font-size: 12px;
      line-height: 20px;
      img {
        margin-right: 3px;
        margin-top: -3px;
      }
      &.c7n-pro-btn-disabled {
        background-color: #666 !important;
        cursor: not-allowed;
      }
    }
    .c7n-pro-btn + .c7n-pro-btn {
      margin-left: 14px;
    }
    .cancel-btn {
      background: #f66767 !important;
    }
    .icon {
      margin-top: -4px;
    }
  }
  .content {
    background-color: #fff !important;
    margin: 0 8px;
    .c7n-pro-table {
      border: none;
    }
    .c7n-pro-table-thead.c7n-pro-table-column-resizable .c7n-pro-table-cell {
      border: none;
      background: #fff !important;
      color: #aaadba;
    }
    .c7n-pro-table-wrapper .c7n-pro-table table .c7n-pro-table-tbody > tr > td {
      border: none;
    }
    .c7n-pro-table-thead {
      height: 40px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    }
    .c7n-pro-table-tbody {
      .c7n-pro-table-row {
        height: 56px;
        .high-light {
          background: rgba(98, 192, 188, 0.08) !important;
        }
      }
      .c7n-pro-table-empty-row {
        border: none;
      }
      .c7n-pro-table-cell-inner {
        line-height: 28px;
        .c7n-upload-select {
          .c7n-pro-btn:not(.c7n-pro-btn-flat) {
            border: none !important;
            color: #2ac5a9 !important;
          }
        }
        .lisp-statement-confirm-upload-btn {
          border: none !important;
          color: #2ac5a9 !important;
        }
      }
    }
    .c7n-pro-pagination {
      padding-right: 16px;
    }
  }
}
