.zcom-quotation-review-withdrawn {
  width: 4.2rem;
  .withdrawn-title {
    margin-bottom: 0.15rem;
  }
  :global {
    .c7n-pro-modal-body {
      padding: 0.2rem;
    }
    .c7n-pro-radio-wrapper {
      width: 100px;
    }
    .c7n-pro-select-box-wrapper {
      margin-bottom: 0.1rem;
    }
  }
}
.zcom-quotation-review-detail-content {
  .c7n-pro-output-wrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  :global {
    .c7n-pro-textarea-disabled {
      .c7n-pro-textarea {
        color: rgba(0, 0, 0, 0.7);
      }
      .c7n-pro-textarea:hover {
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
