.zcom-quotation-maintain-detail-withdrawn {
  width: 4.2rem;
  .withdrawn-title {
    margin-bottom: 0.15rem;
  }
  :global {
    .c7n-pro-modal-body {
      padding: 0.2rem;
    }
    .c7n-pro-radio-wrapper {
      width: 100px;
    }
    .c7n-pro-select-box-wrapper {
      margin-bottom: 0.1rem;
    }
    .c7n-upload-disabled {
      span {
        color: rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.zcom-quotation-maintain-detail {
  :global {
    .c7n-upload-disabled {
      span {
        color: rgba(0, 0, 0, 0.25) !important;
      }
    }
  }
}
