.modal-row {
  margin-bottom: 20px;
  .gutter-row {
    .title-row {
      width: 100%;
      display: inline-block;
      text-align: right;
      line-height: 25px;
    }
    .problem-title {
      width: 100%;
    }
  }
}
.big-box {
  height: 100px;
  .area-box {
    height: 100%;
    .text-area {
      height: 100%;
      width: 100%;
      label {
        height: 100%;
        input {
          height: 100%;
        }
        textarea {
          height: 100%;
        }
      }
    }
  }
}
