.zmda-customer-maintain-headInfo {
  height: 40px;
  line-height: 40px;
  background: rgb(242, 242, 242);
  font-size: 14px;
  padding-left: 10px;
  margin-top: 15px;
  .headInfo-toggle {
    color: #29bece;
    margin-left: 20px;
    cursor: pointer;
  }
}

.zmda-customer-maintain-modal {
  width: 6.5rem;
}

.zmda-customer-maintain {
  :global {
    .c7n-pro-form tbody tr:first-child td:nth-child(7)::after {
      display: none;
    }
  }
}
