.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  z-index: 999;
  width: 100%;
  padding: 16px 20.2vw;
  background: linear-gradient(to bottom, #adaeb0 0%, #c4c5c7 100%);
  > div {
    display: flex;
  }
  .icon {
    width: 88px;
    height: 88px;
    margin-right: 1.67vw;
    background-image: linear-gradient(0deg, #cdcecf 0%, #e5e7e9 100%);
    cursor: pointer;
    img {
      margin: 5px 20px 5.3px;
    }
    .line {
      width: 100%;
      height: 2px;
      background-image: linear-gradient(
        90deg,
        rgba(145, 145, 145, 0) 0%,
        rgba(173, 173, 173, 0.49) 50%,
        rgba(151, 151, 151, 0) 100%
      );
    }
    .text {
      margin-top: 2.7px;
      font-size: 16px;
      color: #051e2d;
      text-align: center;
    }

    .c7n-pro-btn {
      width: 100%;
      border: none;
      .c7n-pro-btn-default:focus {
        border-color: none;
      }
      span {
        font-size: 16px;
        color: #051e2d;
        text-align: center;
      }
    }
  }
  > div:last-child {
    .icon:last-child {
      margin-right: 0;
    }
  }
}
