.bottom-table {
  margin-top: 10px;
  :global {
    .c7n-performance-table-row-header {
      line-height: 30px !important;
    }
    .lov-input .ant-input {
      padding-right: 28px !important;
    }
  }
  .require-field {
    input {
      border: 1px solid rgb(255, 188, 0);
      background: rgb(254, 255, 230);
    }
  }
}
.my-mo-height-search-list {
  :global {
    .c7n-pro-modal-container-pristine {
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(0, 0);
    }
  }
}
