.flex-between-content {
  display: flex;
  justify-content: space-between;
  .c7n-tag-has-color {
    margin: 0;
  }
}

.task-item {
  height: auto;
  width: 200px;
  background: #fff;
  box-shadow: 1px 2px 5px 2px rgba(77, 77, 77, 0.4);
  border-radius: 3px;
  padding: 5px 10px;
}

.task-item-header {
  .flex-between-content;
}

.task-item-header-bottom {
  .flex-between-content;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  height: 26px;
}

.craft-name {
  background: #f8f9fb;
  border-radius: 2px;
  padding: 1px 2px;
}

.task-num {
  margin-left: 5px;
}
