.model-title {
  display: inline-block;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 14px;
  text-indent: 10px;
  border-left: 2px solid #5e7ee6;
}

.lwms-tag-print {
  .c7n-performance-table {
    margin-left: 1px;
  }
  .Pagination {
    float: right;
  }
  .header-query {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  :global {
    .c7n-card.ued-detail-card > .c7n-card-body {
      padding: 0;
      padding-bottom: 0;
    }
  }
}
