.lsop-salesOrder-content {
  :global {
    .c7n-pro-select-multiple {
      .c7n-pro-select {
        ul {
          height: 28px;
          overflow: hidden;
          width: 100%;
        }
      }
      .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
        padding-right: 0;
      }
    }

    .c7n-pro-field-label,
    .c7n-pro-field-wrapper {
      padding-top: 0 !important;
    }
    .c7n-pro-pagination {
      float: right;
    }
  }

  .lsop-sales-order-line-content {
    margin-top: 33px;
  }
  .sales-order-line-tab-content {
    :global {
      .c7n-pro-pagination {
        float: right;
      }
    }
  }

  .lsop-sales-order-table-NEW {
    color: #60ffe4;
  }
  .lsop-sales-order-table-APPROVING {
    color: #60b8ff;
  }
  .lsop-sales-order-table-RELEASED {
    color: yellow;
  }
  .lsop-sales-order-table-SHIPPING {
    color: #cbfdbe;
  }
  .lsop-sales-order-table-COMPLETED {
    color: #65ff46;
  }
  .lsop-sales-order-table-CLOSED {
    color: #b4b9b9;
  }
  .lsop-sales-order-table-CANCELLED {
    color: #fdbed8;
  }
}
