.delivery-config {
  padding: 30px 0 10px 10px;
  .delivery-config-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #29bece;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 5px;
  }
  .delivery-config-content-desc {
    margin: 5px 0 10px 160px;
    color: rgb(170, 170, 170);
    font-size: 12px;
  }
  :global {
    .c7n-pro-field-label {
      font-size: 14px;
    }
  }
}
