.requirement-replenishment {
  .text-wrap {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .sub-header {
    height: 60px;
    padding: 19px 0 0 8px;
    .c7n-pro-btn {
      padding: 0 5px;
      background: #62c0bc !important;
      color: #fff !important;
      border: none;
      font-size: 12px;
      line-height: 20px;
      img {
        margin-right: 3px;
        margin-top: -3px;
      }
    }
  }
}
