.lmes-po-precheck {
  p {
    margin-bottom: 0;
  }
  .content {
    padding: 0 23px;
    .main {
      display: flex;
      > div {
        height: calc(100vh - 368px);
        background: #fff;
        border: 1px solid #ccc;
      }
    }
  }
}
.lmes-po-precheck-login-modal {
  width: 36.8vw;
  :global {
    .c7n-pro-modal-header {
      background: #ebebeb;
      .c7n-pro-modal-title {
        font-size: 22px;
        line-height: 31px;
        color: #666;
      }
    }
    .c7n-pro-field-wrapper {
      padding: 0;
      .c7n-pro-select-wrapper,
      .c7n-pro-calendar-picker-wrapper {
        height: 48px !important;
        margin-bottom: 28px;
        input {
          height: 48px;
          font-size: 20px;
          line-height: 28px;
          color: #999;
        }
        .c7n-pro-select-suffix {
          .icon-search::before {
            font-size: 24px;
            top: 0;
          }
          .icon-baseline-arrow_drop_down {
            top: 0;
          }
          .icon-baseline-arrow_drop_down::before {
            font-size: 24px;
            color: #0c6b7e;
          }
        }
      }
      .c7n-pro-calendar-picker-wrapper {
        width: 60.8%;
        margin-right: 16px;
        .c7n-pro-calendar-picker-suffix {
          .icon-date_range::before {
            top: 12px;
            font-size: 24px;
            color: #0c6b7e;
          }
        }
      }
    }
    .c7n-pro-btn-primary {
      width: 100%;
      height: 56px !important;
      margin: 12px 0 20px;
      background-color: #0c6b7e !important;
      border: none !important;
      span {
        font-size: 22px;
        line-height: 31px;
        color: #fff;
      }
    }
  }
  .date {
    :global {
      .c7n-pro-select-wrapper {
        width: calc(39.2% - 16px);
      }
    }
  }
  .rework {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 28px;
  }
  .exit-btn {
    position: absolute;
    top: 14px;
    right: 24px;
  }
}
.lmes-po-precheck-pictures-modal {
  // width: 40%;
  :global {
    .c7n-pro-modal-header {
      background-color: #ebebeb;
      .c7n-pro-modal-title {
        font-size: 22px;
        color: #666;
      }
      .c7n-pro-modal-header-buttons {
        i {
          font-size: 24px;
        }
      }
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .img-list {
      :global {
        .c7n-upload-list-item {
          padding: 0;
          .c7n-upload-list-item-info {
            span {
              height: 100%;
            }
            .c7n-upload-list-item-thumbnail {
              object-fit: contain;
              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
    .footer-button {
      text-align: right;
      margin-top: 20px;
      span {
        display: inline-block;
        width: 123px;
        height: 48px;
        background-color: #1c879c;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
      }
    }
  }
}
