:global {
  .group-modal-content {
    display: flex;
    align-items: center;
    .title {
      margin-right: 15px;
      span {
        color: red;
        margin-right: 5px;
      }
    }
    .c7n-pro-input {
      width: 300px;
    }
  }
}
