:global {
  .isp-abnormal-order-filter-modal {
    .c7n-modal-content {
      padding: 0;
      .c7n-modal-close-x {
        padding: 16px;
      }
      .c7n-modal-header {
        padding: 16px 20px;
        border-bottom: 1px solid #eee;
        .c7n-modal-title {
          font-size: 16px;
          color: #4a4a4a;
          line-height: 16px;
        }
      }
      .c7n-modal-body {
        padding: 16px 32px;
        overflow: hidden;
        .footer {
          float: right;
        }
        .c7n-pro-form {
          td {
            padding-bottom: 24px;
          }
        }
      }
    }
  }
  .isp-abnormal-order {
    .c7n-pro-output {
      height: 72px !important;
      line-height: 72px;
      > div {
        line-height: 20px;
        padding: 16px 0;
        p {
          height: 17px;
          margin-bottom: 6px;
        }
      }
      .first-name {
        display: inline-block;
        width: 24px;
        height: 24px;
        // background-color: #386bd7;
        border-radius: 50%;
        color: #fff;
        line-height: 24px;
        text-align: center;
        margin-right: 6px;
      }
      .chen {
        background-color: #5a85e8;
      }
      .tang {
        background-color: #ffaf00;
      }
      .fang {
        background-color: #ef1d94;
      }
      .huang {
        background-color: #00d7b9;
      }
    }
  }
}
