.lwms-reservation-qty {
  :global {
    .c7n-pro-pagination {
      text-align: right;
    }
    .c7n-pro-btn {
      &.more-btn {
        display: flex;
        align-items: center;
      }
    }
  }
}
