.line {
  height: 88px;
}

.text-overflow-style {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.purchase-receipt-wrapper {
  height: 100vh;
  :global {
    .c7n-spin-container {
      height: 100vh;
    }
  }
}
.purchase-receipt {
  min-width: 1200px; // 防止搜索条件样式错乱
  background-color: rgb(235, 235, 235);
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-image: linear-gradient(0deg, #076476 2%, #1d889d 100%);
    box-shadow: 0 -3px 15px 0;
  }
  .search-form {
    padding: 0 16px;
    height: 70px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 3.5% repeat(4, 22%);
    justify-content: space-between;
    align-items: center;
    .avatar {
      width: 40px;
      height: 40px;
      border: 2px solid #3f8795;
      border-radius: 50%;
      justify-self: center;
    }
    .column-wrap {
      position: relative;
    }
    .suffix {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      cursor: pointer;
      width: 0.24rem;
    }
    &-col {
      position: relative;
    }
    :global {
      .c7n-pro-select-wrapper {
        width: 100%;
      }
      .c7n-pro-select {
        height: 48px;
        font-size: 20px;
      }
      .c7n-pro-select:not(textarea):not(:first-child) {
        padding-left: 0.34rem;
      }
      .c7n-pro-select-prefix {
        left: 0.05rem;
      }
      .c7n-pro-select-suffix {
        right: 15px;
        transform: scale(2);
      }
      .c7n-pro-select-clear-button {
        right: 55px;
      }
    }
  }
  .filter-form {
    padding: 16px;
    .button {
      width: 123px;
      height: 48px;
      font-size: 20px;
      color: #fff;
      background-color: #1c879c;
      border: none;
      outline: none;
      margin-left: 2.2%;
      &:active {
        filter: brightness(0.8);
      }
    }
    :global {
      .c7n-pro-input-wrapper {
        width: 16.7%;
        float: left;
        &:not(:first-child) {
          margin-left: 2.2%;
        }
      }
      .c7n-pro-input {
        height: 48px;
        font-size: 20px;
      }
      .c7n-pro-select-wrapper {
        width: 16.7%;
        float: left;
        &:not(:first-child) {
          margin-left: 2.2%;
        }
      }
      .c7n-pro-select {
        height: 48px;
        font-size: 20px;
      }
    }
  }
  .action-area {
    min-height: 120px;
    background-image: linear-gradient(0deg, #adaeb0 0%, #c4c5c7 100%);
    height: 13.3%;
    display: grid;
    align-items: center;
    grid-template-columns: auto [exit-start] 88px [exit-end] 100px [reset-start] 88px 32px [submit-start] 88px auto;
    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-image: linear-gradient(0deg, #cdcecf 0%, #e5e7e9 100%);
      cursor: pointer;
      &:active {
        filter: brightness(0.8);
      }
    }
    .exit-button {
      grid-column: exit-start / exit-end;
    }
    .reset-button {
      grid-column-start: reset-start;
    }
    .image-button {
      grid-column-start: image-start;
    }
    .remark-button {
      grid-column-start: remark-start;
    }
    .submit-button {
      grid-column-start: submit-start;
    }
    .split-line {
      height: 0.5px;
      width: 70%;
      background-image: linear-gradient(#919191 0%, #adadad 49%, #979797 100%);
    }
  }
}

.lwms-purchase-receive-remark-modal {
  .c7n-pro-modal-header {
    padding: 17px 24px;
    background: #ebebeb;
    .c7n-pro-modal-title {
      font-size: 22px;
      color: #666;
    }
  }
  .c7n-pro-modal-footer {
    .c7n-pro-btn {
      width: 123px;
      height: 48px;
      font-size: 20px;
      &.c7n-pro-btn-primary {
        background: #1c879c;
        border-color: #1c879c !important;
      }
    }
  }
}

.lwms-purchase-receive-pictures-modal {
  // width: 40%;
  :global {
    .c7n-pro-modal-header {
      background-color: #ebebeb;
      .c7n-pro-modal-title {
        font-size: 22px;
        color: #666;
      }
      .c7n-pro-modal-header-buttons {
        i {
          font-size: 24px;
        }
      }
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .img-list {
      :global {
        .c7n-upload-list-item {
          padding: 0;
          .c7n-upload-list-item-info {
            span {
              height: 100%;
            }
            .c7n-upload-list-item-thumbnail {
              object-fit: contain;
              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
    .footer-button {
      text-align: right;
      margin-top: 20px;
      span {
        display: inline-block;
        width: 123px;
        height: 48px;
        background-color: #1c879c;
        text-align: center;
        color: #fff;
        font-size: 20px;
        line-height: 48px;
        cursor: pointer;
      }
    }
  }
}

.time-component {
  color: white;
  font-size: 21px;
}

.font-style {
  color: #1c879c;
  font-size: 28px;
}

.column-top-down-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-self: center;
  .top,
  .bottom {
    .text-overflow-style();
  }
}

.modal-container {
  .header-top {
    height: 70px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      flex-basis: 40px;
    }
    .content {
      flex-basis: 25%;
      .text-overflow-style();
    }
    .buttonAdd {
      flex-basis: 25%;
      align-items: right;
    }
  }
  .header-bottom {
    :global {
      .c7n-pro-input,
      .c7n-pro-input-number,
      .c7n-pro-calendar-picker {
        height: 40px;
        font-size: 20px;
      }
      .c7n-pro-input-wrapper,
      .c7n-pro-input-number-wrapper,
      .c7n-pro-calendar-picker-wrapper {
        width: 100%;
      }
      .c7n-pro-input-suffix {
        width: 0.3rem;
      }
    }
  }
  .modal-table {
    :global {
      .c7n-pro-table-cell-inner {
        font-size: 22px;
        color: #1c879c;
      }
    }
    .first-column,
    .second-column {
      font-size: 18px;
      height: 68px;
    }
    .first-column {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      .code {
        font-size: 19px;
      }
      .supplier-lot {
        color: #667177;
      }
    }
    .first-column-lot {
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      .code {
        font-size: 19px;
      }
      .supplier-lot {
        font-size: 18px;
        color: #667177;
      }
    }
    .second-column {
      display: flex;
      align-items: center;
      .column-one {
        .text-overflow-style();
        height: 100%;
        flex-basis: 40%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
      }
      .column-two {
        .text-overflow-style();
        height: 100%;
        flex-basis: 55%;
        margin-left: 5%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        .date-range {
          font-size: 14px;
          line-height: 18px;
          color: #667177;
        }
      }
    }
  }
}

.virtual-scroll-list {
  flex: 1;
  position: relative;
  overflow: hidden auto;
  margin-bottom: 16px;
  .list {
    // display: grid;
    // grid-template-rows: repeat(5, 20%);
    // grid-auto-rows: 20%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .no-data {
    text-align: center;
    font-size: 20px;
    margin-bottom: 16px;
  }
  :global {
    .c7n-spin-nested-loading {
      height: 100%;
    }
    .c7n-spin-container {
      height: 100%;
    }
  }
  .table-line {
    margin-bottom: 16px;
    .table-line-top {
      height: 88px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1.5% 5% 19.8% 10% 18.1% 10% 19.7% 7.2%;
      align-items: center;
      justify-content: space-between;
      margin: 0 16px;
      padding: 0 1%;
      background-color: #fff;
      border: 1px solid #ccc;
      .icon {
        height: 56px;
        cursor: pointer;
        justify-self: center;
        &:active {
          filter: brightness(0.8);
        }
      }
      .receive-count-this-time {
        width: 100%;
        height: 54px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-self: center;
        .button {
          .font-style();
          flex-basis: 20%;
          text-align: center;
          user-select: none;
          height: 54px;
          line-height: 54px;
          background-image: linear-gradient(0deg, #d5d5d5 0%, #e3e3e3 100%);
          &:active {
            background-image: linear-gradient(
              0deg,
              darken(#d5d5d5, 20%) 0%,
              darken(#e3e3e3, 20%) 100%
            );
          }
        }
        .content {
          .font-style();
          border: none;
          outline: none;
          flex: 1;
          text-align: center;
          width: 120px;
          min-width: 0; // firefox unknown bug
        }
      }
      .rec-count {
        .column-top-down-grid();
        justify-self: unset;
        .top {
          color: #1c879c;
          font-size: 24px;
        }
        .bottom {
          color: #666;
          font-size: 18px;
        }
      }
      .item {
        .column-top-down-grid();
        justify-self: unset;
        .top {
          font-size: 22px;
          color: #333;
        }
        .bottom {
          opacity: 0.7;
          font-size: 18px;
          color: #666;
        }
      }
      .other {
        flex-basis: 8%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        white-space: nowrap;
        .top {
          .text-overflow-style();
          font-size: 15px;
          color: #fff;
          padding: 2px 10px;
          background-color: #167c90;
          min-width: 65px;
          max-width: 100%;
          min-height: 24px;
          margin-bottom: 3px;
          text-align: center;
        }
        .bottom {
          font-size: 18px;
          color: #666;
          min-height: 24px;
        }
      }
    }
    .table-line-bottom {
      display: flex;
      justify-content: flex-end;
      margin: 0 16px;
      padding: 10px 1%;
      background: rgba(214, 214, 214, 0.29);
      font-size: 18px;
      color: #666;
      .upload {
        display: flex;
        width: 150px;
        cursor: pointer;
        font-size: 20px;
        color: #1c879c;
      }
      > span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        > span:first-child {
          margin-right: 1.5vw;
        }
      }
    }
  }

  .highlight {
    border: 1px solid #1c879c;
  }
}
