.nuclear-supply-header {
  height: 76px;
  position: relative;
  width: 100%;
  .nuclear-supply-header-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  .nuclear-supply-header-title {
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    color: #fff;
    letter-spacing: 0.7px;
  }
}
