.page-content {
  padding-top: 0;
}

.c7n-card-head-title {
  font-size: 16px;
}

.form-headInfo {
  .c7n-pro-input {
    border: none;
    background: #fff !important;
    color: #333333 !important;
  }
}

.basic-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .c7n-tabs-bar {
    margin: auto 0;
  }
}

.date-replys {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .form-date {
    width: 225px;
  }
  .form-btn {
    margin-left: 15px;
  }
}

