.employee-statistic-query {
  position: fixed;
  top: 90px;

  .employee-statistic-query-bottom {
    width: 100%;
    display: flex;
  }
  :global {
    .c7n-pro-select-wrapper {
      width: 15%;
    }
  }
}

.employee-statistic-query div {
  float: left;
}
