.zcom-customer-item-return-review-modal {
  width: 9.5rem;
  :global {
    .c7n-pro-modal {
      width: 9.5rem;
    }
  }
}
.base-line {
  display: flex;
  height: 40px;
  align-items: center;
  .base-line-tag {
    height: 40px;
    border-left: 3px solid #29bece;
    margin-right: 20px;
  }
  .base-line-title {
    font-size: 16px;
    font-weight: bolder;
  }
}
.customer-item-return-review-logistics {
  .c7n-pro-input {
    border: none;
    background: #fff !important;
    color: #333 !important;
  }
}
