.calendar-container {
  width: 3.36rem;
  margin: 0 10px;
  font-size: 14px;
}
.calendar-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  .calendar-title-text {
    flex: 1;
    text-align: center;
  }
  .calendar-title-arrow {
    cursor: pointer;
  }
}
.calendar-labels {
  display: flex;
  border: 1px solid rgb(121, 121, 121);
  font-weight: 600;
  :global {
    ::selection {
      color: #333;
      background: none;
    }
  }
  .calendar-labels-item {
    width: 0.48rem;
    height: 0.48rem;
    line-height: 0.48rem;
    text-align: center;
  }
  .calendar-labels-item:not(:last-child) {
    border-right: 1px solid rgb(121, 121, 121);
  }
  .calendar-labels-item--week {
    color: rgb(31, 140, 235);
  }
}
.calendar-days-row {
  display: flex;
  border: 1px solid rgb(121, 121, 121);
  border-top: none;
  position: relative;
  :global {
    ::selection {
      color: #333;
      background: none;
    }
  }
  .calendar-days-item {
    width: 0.48rem;
    height: 0.48rem;
    line-height: 0.48rem;
    box-sizing: border-box;
    text-align: center;
  }
  .calendar-days-item:not(:last-child) {
    border-right: 1px solid rgb(121, 121, 121);
  }
}
.calendar-days-item-active--single {
  border: 4px solid rgb(31, 140, 235) !important;
}

.calendar-days-item-active--start {
  background: rgb(2, 167, 240);
  border: none !important;
  border-right: 1px solid rgb(121, 121, 121) !important;
}

.calendar-days-item-active--connect {
  background: rgb(129, 211, 248);
  border: none !important;
  border-right: 1px solid rgb(121, 121, 121) !important;
}

.calendar-days-item-active--end {
  background: rgb(2, 167, 240);
  border: none !important;
  border-right: 1px solid rgb(121, 121, 121) !important;
}

.add-festival-btn {
  position: absolute;
  bottom: 50px;
  right: -90px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #333;
  background-color: #e3e3e3;
  color: #000;
  cursor: pointer;
  z-index: 2;
}

.add-festival-btn:hover {
  color: rgb(31, 140, 235);
  font-weight: 600;
  border: 1px solid rgb(31, 140, 235);
}

.calendar-days-item-active--week {
  color: rgb(31, 140, 235);
}

.calendar-days-item-active--festival {
  position: relative;
}
.calendar-days-item-active--festival:after {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}

.holiday-calendar-popover {
  :global {
    .c7n-popover-inner-content {
      background: rgb(110, 110, 110);
      color: #fff;
    }
    .c7n-popover-arrow {
      background: rgb(110, 110, 110);
    }
  }
}
