.line-title {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 24px;
  > div {
    margin-right: 32px;
    span:last-child {
      color: #00b3a9;
    }
  }
  > div:first-child {
    font-weight: 500;
    font-size: 16px;
  }
}
