.lwms-purchase-receive-inventory {
  overflow: hidden;
  p {
    margin-bottom: 0;
  }
  .lwms-purchase-receive-inventory-header {
    width: 100%;
    padding: 14px 29px 9px 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #076476 0%, #1d889d 100%);
    img {
      width: 66px;
      height: 41px;
      float: right;
    }
  }
  .lwms-purchase-receive-inventory-sub-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 16px;
    background-color: #fff;
    .sub-header-avator {
      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 2px solid #3f8795;
      }
    }
    .c7n-pro-select-wrapper,
    .c7n-pro-select {
      height: 48px;
    }
    .c7n-pro-select-wrapper {
      width: 21.67vw;
      .c7n-pro-select-suffix {
        margin-right: 18px;
        .icon {
          transform: scale(2);
        }
      }
      .c7n-pro-select-clear-button {
        .icon-close {
          position: absolute;
          right: 30px;
        }
      }
      .c7n-pro-select {
        font-size: 20px;
        color: #999;
        padding-left: 40px;
      }
    }
    .lov-suffix-wrap {
      position: relative;
      // margin-left: 2.5%;
      > img {
        position: absolute;
        top: 13px;
        right: 8px;
        cursor: pointer;
        z-index: 1;
      }
    }
  }
  .lwms-purchase-receive-inventory-search {
    padding: 16px;
    display: flex;
    width: 100%;
    .c7n-pro-input-wrapper,
    .c7n-pro-select-wrapper {
      width: calc(20% - 16px);
      margin-right: 16px;
      .c7n-pro-input,
      .c7n-pro-select {
        height: 48px;
        font-size: 20px;
        color: #333;
        &::placeholder {
          color: #999;
        }
      }
    }
    .c7n-pro-select-suffix {
      transform: scale(2);
    }
    .c7n-pro-select-clear-button {
      right: 40px;
    }
    .c7n-pro-btn:not(.c7n-pro-btn-flat).c7n-pro-btn-primary {
      width: 123px;
      height: 48px;
      background: #1c879c;
      font-size: 20px;
      color: #fff;
    }
  }
  .lwms-purchase-receive-inventory-list {
    padding: 0 16px;
    height: calc(100vh - 352px);
    overflow-y: scroll;
    .lwms-purchase-receive-inventory-list-item {
      display: grid;
      grid-template-columns: 33.3% 25.9% 21.8% 15%;
      // grid-template-rows: 88px;
      margin-bottom: 19px;
      background-color: #fff;
      padding: 12.5px 16px;
      font-size: 18px;
      color: #666;
      border: 1px solid #ccc;
      .lwms-purchase-receive-inventory-list-item-left,
      .lwms-purchase-receive-inventory-list-item-center,
      .lwms-purchase-receive-inventory-list-item-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        div:first-child {
          p:first-child {
            font-size: 22px;
            color: #333;
            font-weight: 500;
          }
        }
        div:last-child {
          p {
            text-align: right;
          }
          p:first-child {
            font-size: 24px;
            color: #1c879c;
            font-weight: 500;
          }
        }
      }
      .lwms-purchase-receive-inventory-list-item-left {
        .item-left-input {
          display: flex;
          align-items: center;
          .c7n-checkbox-inner {
            width: 24px;
            height: 24px;
            border: 1px solid #999;
          }
          .c7n-checkbox-inner::after {
            left: 8px;
            top: 3px;
          }
          img {
            margin: 0 16px;
          }
          .qty-block {
            width: 254px;
            height: 56px;
            line-height: 56px;
            background: #fff;
            border: 1px solid #ccc;
            font-size: 28px;
            color: #1c879c;
            text-align: center;
          }
        }
      }
      .lwms-purchase-receive-inventory-list-item-center {
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        > div:last-child {
          width: 200px;
        }
      }
      .lwms-purchase-receive-inventory-list-item-right {
        overflow: hidden;
        .po-status {
          float: right;
          width: 69px;
          margin-left: 8px;
          background: #167c90;
          font-size: 15px;
          color: #fff;
          text-align: center;
        }
      }
      .lwms-purchase-receive-inventory-list-item-upload {
        display: flex;
        justify-content: flex-end;
        .upload {
          display: flex;
          width: 150px;
          cursor: pointer;
          font-size: 20px;
          color: #1c879c;
          margin-top: 3px;
        }
        > span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          > span:first-child {
            margin-right: 1.5vw;
          }
        }
        span {
          color: #1c879c;
        }
        a {
          font-size: 20px;
        }
      }
    }
  }
  .lwms-purchase-receive-inventory-footer {
    position: fixed;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    z-index: 999;
    width: 100%;
    padding: 16px 23.5%;
    background: linear-gradient(to bottom, #adaeb0 0%, #c4c5c7 100%);
    .icon {
      width: 88px;
      height: 88px;
      margin-right: 32px;
      background-image: linear-gradient(0deg, #cdcecf 0%, #e5e7e9 100%);
      img {
        margin: 5px 20px 5.3px;
      }
      .line {
        width: 100%;
        height: 2px;
        background-image: linear-gradient(
          90deg,
          rgba(145, 145, 145, 0) 0%,
          rgba(173, 173, 173, 0.49) 50%,
          rgba(151, 151, 151, 0) 100%
        );
      }
      .text {
        margin-top: 2.7px;
        font-size: 16px;
        color: #051e2d;
        text-align: center;
      }
    }
    > div:last-child {
      .icon:last-child {
        margin-right: 0;
      }
    }
  }
}
.lwms-purchase-receive-inventory-modal {
  width: 1065px;
  p {
    margin-bottom: 0;
  }
  .c7n-pro-modal-header {
    padding: 17px 24px;
    background: #ebebeb;
    .c7n-pro-modal-title {
      font-size: 22px;
      color: #666;
    }
  }
  .c7n-pro-modal-body {
    .icon-close {
      position: absolute;
      right: 16px;
      top: 20px;
      cursor: pointer;
    }
    .order-info {
      display: flex;
      justify-content: space-between;
      font-size: 24px;
      margin-bottom: 32px;
      color: #333;
      > div {
        display: flex;
        align-items: center;
        img {
          margin-right: 8px;
        }
      }
      .c7n-pro-input {
        width: 300px;
        height: 40px;
        font-size: 22px;
        color: #333;
        border: 1px solid #999;
        &.placeholder {
          color: #999;
        }
      }
    }
    .lwms-purchase-receive-inventory-modal-list {
      table {
        width: 1017px;
        thead {
          background-image: linear-gradient(0deg, #d5d5d5 0%, #e3e3e3 100%);
          border: 1px solid #ccc;
          font-size: 22px;
          color: #1c879c;
        }
      }

      .c7n-checkbox-inner {
        width: 24px;
        height: 24px;
        margin-right: 32px;
        border: 1px solid #b8b8b8;
      }
      .c7n-checkbox-inner::after {
        left: 8px;
        top: 3px;
      }
      tr {
        border: 1px solid #ccc;
        td,
        th {
          width: 505px;
          padding: 0 38px 0 32px;
        }
        td:first-child,
        th:first-child {
          width: 300px;
          padding-left: 25px;
        }
        td:last-child,
        th:last-child {
          width: 224px;
          padding-left: 40px;
          &.LOT {
            width: 274px;
          }
        }
        th {
          height: 44px;
          .c7n-checkbox-inner {
            margin-top: -5px;
          }
        }
        td {
          min-height: 68px;
          > div {
            display: inline-block;
          }
        }
        .td-left {
          display: flex;
          align-items: center;
          > div {
            p {
              width: 200px;
              font-size: 19px;
              color: #031b2a;
              word-wrap: break-word;
            }
            p:last-child {
              font-size: 18px;
              color: #667177;
            }
          }
        }
        .td-center {
          overflow: hidden;
          font-size: 18px;
          color: #031b2a;
          > div:last-child {
            float: right;
            p:last-child {
              font-size: 14px;
              color: #9ea5a8;
            }
          }
        }
        .td-right {
          display: flex;
          align-items: center;
          font-size: 26px;
          color: #031b2a;
          :global {
            .c7n-pro-input-number-wrapper {
              width: 100px;
              height: 48px;
              margin-right: 8px;
              input {
                height: 48px;
              }
            }
          }
        }
      }
      tbody {
        tr:nth-child(n) {
          background: rgba(193, 193, 193, 0.18);
        }
      }
    }
    .lwms-purchase-receive-inventory-modal-footer {
      width: 262px;
      float: right;
      margin-top: 32px;
      button {
        width: 123px;
        height: 48px;
        font-size: 20px;
        &.c7n-pro-btn-default {
          color: #999;
        }
        &.c7n-pro-btn-primary {
          background: #1c879c;
          color: #fff;
        }
      }
      .c7n-pro-btn + .c7n-pro-btn {
        margin-left: 16px;
      }
    }
  }
}
.lwms-purchase-receive-inventory-remark-modal {
  .c7n-pro-modal-header {
    padding: 17px 24px;
    background: #ebebeb;
    .c7n-pro-modal-title {
      font-size: 22px;
      color: #666;
    }
  }
  .c7n-pro-modal-footer {
    .c7n-pro-btn {
      width: 123px;
      height: 48px;
      font-size: 20px;
      &.c7n-pro-btn-primary {
        background: #1c879c;
        border-color: #1c879c !important;
      }
    }
  }
}
.lwms-purchase-receive-inventory-picture-modal {
  // width: 40%;
  :global {
    .c7n-pro-modal-header {
      background-color: #ebebeb;
      .c7n-pro-modal-title {
        font-size: 22px;
        color: #666;
      }
      .c7n-pro-modal-header-buttons {
        i {
          font-size: 24px;
        }
      }
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .img-list {
      :global {
        .c7n-upload-list-item {
          padding: 0;
          .c7n-upload-list-item-info {
            span {
              height: 100%;
            }
            .c7n-upload-list-item-thumbnail {
              object-fit: contain;
              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
    .footer-button {
      text-align: right;
      margin-top: 20px;
      span {
        display: inline-block;
        width: 123px;
        height: 48px;
        background-color: #1c879c;
        color: #fff;
        font-size: 20px;
        text-align: center;
        line-height: 48px;
        cursor: pointer;
      }
    }
  }
}
