/*
 * @Description: 生产监控看板
 * @Author: 赵敏捷 <minjie.zhao@hand-china.com>
 * @Date: 2020-06-09 13:57:28
 * @LastEditors: Please set LastEditors
 */

@body-title-color: #81daf7;
@deep-blue: rgb(11, 28, 68);
@font-gray: #868fa4;

@keyframes myEditor {
  0% {
    transform: rotateY(0deg);
    transform-origin: center;
  }
  25% {
    transform: rotateY(90deg);
    transform-origin: center;
  }
  50% {
    transform: rotateY(180deg);
    transform-origin: center;
  }
  75% {
    transform: rotateY(270deg);
    transform-origin: center;
  }
  100% {
    transform: rotateY(360deg);
    transform-origin: center;
  }
}
.wrap {
  flex: 1;
  background-color: rgb(13, 34, 81);
  .production-monitoring-dashboard {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // height: 100%;
    width: 100vw;
    background-color: rgb(13, 34, 81);
    color: white;
    min-width: 900px;
    height: 100vh;
    // min-height: 550px;
    transform-origin: top left;
    position: absolute;
    left: 0;
    top: 0;
    .header {
      flex: 0 0 14.6vh;
      display: flex;
      flex-direction: column;
      .title-block {
        font-size: 1.6vw;
        flex: 1 0 auto;
        background-image: url('./assets/title-background.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        position: relative;
        .logo-left {
          position: absolute;
          left: 0.5vw;
          top: 1vh;
          width: 8vw;
          max-width: 140px;
        }
        .logo-right {
          position: absolute;
          right: 0.5vw;
          top: 1vh;
          width: 8vw;
          max-width: 140px;
        }
      }
      .announcement-block {
        flex: 1 0 3.7vh;
        display: flex;
        flex-direction: column;
        .announcement {
          flex: 1;
          display: inline-flex;
          align-self: flex-start;
          align-items: center;
          justify-content: space-around;
          background-color: rgb(11, 30, 72);
          border-radius: 12px;
          padding: 0 15px;
          margin-bottom: 9px;
          color: #2dcef3;
          font-size: 0.8vw;
          white-space: nowrap;
        }
      }
      .time {
        color: rgb(37, 157, 199);
      }
    }
    .body {
      flex: 1 0 83.7vh;
      display: flex;
      flex-wrap: nowrap;
      padding: 0 0.8vw;
      justify-content: space-around;
      .body-left,
      .body-center,
      .body-right {
        max-height: 83.7vh;
        overflow: hidden;
      }
      .body-left {
        flex: 0 0 23.1vw;
        display: flex;
        flex-direction: column;
        background-color: @deep-blue;
        .percent-tab {
          height: 15.6vh;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 2.8vh 1.2vw;
          .qualified {
            color: #2ac5a9;
          }
          .unqualified {
            color: #ff4b4b;
          }
          .other {
            color: #fba35c;
          }
          .qualified,
          .unqualified,
          .other {
            display: flex;
            flex-flow: column nowrap;
            .top {
              opacity: 0.7;
              font-size: 0.9vw;
            }
            .middle {
              font-size: 2vw;
            }
            .bottom {
              color: #fff;
              font-size: 0.8vw;
              opacity: 0.5;
            }
          }
        }
      }
      .body-center {
        flex: 0 0 50.8vw;
        display: flex;
        flex-direction: column;
        .body-center-top {
          padding: 2.7vh 1.2vw 1.7vh;
          background-color: @deep-blue;
          .total-amount {
            height: 15.6vh;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            font-size: 3vw;
            position: relative;
            .number {
              flex-basis: 3.6vw;
              text-align: center;
              height: 10.3vh;
              margin: 0 6px;
              line-height: 10.3vh;
              background-image: linear-gradient(
                180deg,
                rgba(89, 233, 250, 0.18) 0%,
                rgba(68, 220, 247, 0) 51%,
                rgba(45, 206, 243, 0.15) 100%
              );
            }
            .my-sum-percentage {
              font-size: 2vw;
              color: #2dcef3;
              margin-left: 1.5vw;
            }
          }
          .respectively-amount {
            height: 8.1vh;
            display: grid;
            background-image: linear-gradient(to right, rgb(14, 38, 94), rgb(11, 30, 73));
            grid-template-columns: 1fr 1px 1fr 1px 1fr;
            .left-amount,
            .center-amount,
            .right-amount {
              display: grid;
              flex-wrap: nowrap;
              align-items: center;
              text-align: center;
              padding: 1vh 4.2vw;
              grid-template-columns: [col-start] 3.1vw [col-gap-start] 1.2vw [col-gap-end] 3.5vw [col-end];
              grid-template-rows: [row-start] 3.9vh [row-gap-start] 0.6vh [row-gap-end] 1.7vh [row-end];
              .icon {
                grid-column: col-start / col-gap-start;
                grid-row: row-start / row-end;
              }
              .count {
                font-size: 1.5vw;
                grid-column: col-gap-end / col-end;
                grid-row: row-start row-gap-start;
              }
              .desc {
                grid-column: col-gap-end / col-end;
                grid-row: row-gap-end / row-end;
                white-space: nowrap;
              }
            }
            .split-line {
              height: 4.4vh;
              border-right: 1px solid rgba(255, 255, 255, 0.11);
              margin-top: 1.85vh;
            }
          }
        }
        .body-center-bottom {
          display: flex;
          flex: 1;
          .left {
            margin-right: 0.7vw;
            background-color: @deep-blue;
            flex: 0 1 28.8vw;
            display: flex;
            flex-direction: column;
            .line-chart-container {
              transform: translateZ(0);
              flex: 1;
            }
          }
          .right {
            background-color: @deep-blue;
            flex: 0 1 21.3vw;
            font-size: 12px;
            .top,
            .middle,
            .bottom {
              .item {
                display: flex;
                align-items: center;
                padding: 0 1.1vw;
                height: calc(43vh / 8);
                .key {
                  color: @font-gray;
                }
                .value {
                  color: #fff;
                }
              }
            }
            .top {
              box-shadow: inset 0 -1px 0 0 #25375f;
              .value {
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .middle {
              justify-content: space-between;
              .indicator {
                flex: 1;
              }
            }
            .bottom {
              margin: 0 0.6vw 1.4vh;
              background-image: linear-gradient(90deg, #0e275f 0%, rgba(14, 39, 95, 0.17) 100%);
              border-radius: 4px;
              .item {
                box-shadow: inset 0 -1px 0 0 #25375f;
              }
            }
          }
        }
      }
      .body-right {
        flex: 0 0 23.1vw;
        background-color: @deep-blue;
        display: flex;
        flex-direction: column;
        .chart-wrap {
          display: flex;
          .pie-chart-container {
            height: 26.3vh;
            width: 60%;
          }
          .emulator-legends {
            flex: 1;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            .legend {
              margin-bottom: 1vw;
              display: flex;
              flex-wrap: nowrap;
              align-items: center;
              &-color {
                width: 0.7vw;
                height: 0.7vw;
                border-radius: 50%;
                margin-right: 1vw;
              }
              &-name {
                color: @font-gray;
                margin-right: 1vw;
                white-space: nowrap;
              }
              &-value {
                font-size: 1.5vw;
              }
            }
          }
        }
      }
      .body-title {
        color: #2dcef3;
        font-size: 1vw;
        display: grid;
        height: 5.9vh;
        background-color: @deep-blue;
        border: 1px solid #24355b;
        grid-template-columns: [c1] 1.5vh [c2] auto [c3] 1.5vh [c4];
        grid-template-rows: [r1] 1.5vh [r2] auto [r3] 1.5vh [r4];
        position: relative;
        .left-top,
        .left-bottom {
          border-left: 1px solid @body-title-color;
        }
        .left-top,
        .right-top {
          border-top: 1px solid @body-title-color;
        }
        .right-top,
        .right-bottom {
          border-right: 1px solid @body-title-color;
        }
        .left-bottom,
        .right-bottom {
          border-bottom: 1px solid @body-title-color;
        }
        .left-top,
        .left-bottom {
          grid-column-start: c1;
          grid-column-end: c2;
        }
        .right-top,
        .right-bottom {
          grid-column-start: c3;
          grid-column-end: c4;
        }
        .left-top,
        .right-top {
          grid-row-start: r1;
          grid-row-end: r2;
        }
        .left-bottom,
        .right-bottom {
          grid-row-start: r3;
          grid-row-end: r4;
        }
        .content {
          grid-column-start: c2;
          grid-column-end: c3;
          grid-row-start: r2;
          grid-row-end: r3;
          padding: 0 1vw;
          display: flex;
          align-items: center;
        }
        .myRight {
          position: absolute;
          right: 3vh;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .itemList {
        flex: 1;
        overflow: hidden;
        padding-left: 1.1vw;
        padding-right: 0.7vw;

        .cell {
          box-sizing: border-box;
          .gridWrap {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-row-gap: 1.4vh;
          }
          .itemWrap {
            display: flex;
            flex-direction: column;
            height: 11.3vh;
            .title {
              display: flex;
              justify-content: space-between;
              margin-left: 2.63%;
              padding: 1.32% 5% 1.32% 0;
              border-bottom: 1px solid #f1f1f1;
            }

            .detail {
              padding: 1.32% 2.63%;
              flex: 1;
              display: flex;
              flex-direction: column;
              .detailMsg {
                max-height: 35px;
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1;
              }
              .others {
                color: #aaadba;
              }
            }
          }
          .itemBorder {
            border: 1px solid #f1f1f1;
          }
        }
      }
      .scroll-item {
        display: flex;
        flex-direction: column;
        // width: 20.1vw;
        background-image: linear-gradient(90deg, #0e275f 0%, rgba(14, 39, 95, 0.17) 100%);
        border-left: 0.1vw solid #2dcef3;
        .body-top {
          height: 4.9vh;
          color: #2dcef3;
          padding-left: 0.8vw;
          padding-right: 1vw;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .title,
          .titleName {
            font-size: 1.2vw;
            width: 13.6vw;
            overflow: hidden !important;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .titleName {
            flex: 1;
          }
          .value {
            box-shadow: inset 0 0 5px 0 rgba(45, 206, 243, 0.64);
            padding: 0.7vh 0.5vw;
            flex: 0 1 20%;
            border-radius: 2px;
            box-sizing: border-box;
          }
        }
        .body-center-line {
          margin: 0 0.7vw 0 1vw;
          border-bottom: 0.1vh solid #24355b;
        }
        .body-bottom {
          .item {
            height: 3.15vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 0.8vw;
            margin-right: 1vw;
            color: #fff;
            .gray {
              color: @font-gray;
            }
          }
        }
      }
    }
    .production-monitoring-loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 85.4vh;
    }
  }
}
