.ldab-product-task-progress {
  .c7n-pro-select-multiple {
    .c7n-pro-select {
      ul {
        height: 28px;
        overflow: hidden;
        width: 100%;
      }
    }
    .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
      padding-right: 0;
    }
  }
  .c7n-pro-pagination {
    float: right;
  }
  .header-query {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
  }
}
