.lisp-sales-order {
  .text-wrap {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .first-name {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #386bd7;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    margin-right: 3px;
  }

  .down-font {
    font-size: 12px;
    color: #999;
    display: block;
  }

  .progress-box {
    display: flex;

    .progress-header {
      width: 70px;
      margin-right: 10px;

      .progress-title {
        margin-left: 3px;
      }
    }
  }
  .form-label {
    text-align: right;
  }
  .max-width {
    width: 100%;
  }
  .field-concat {
    text-align: center;
    padding-top: 0.15rem;
  }
}
