:global {
  .item-content-OperationDetailPage {
    margin: 0 0 0 39px;
    .c7n-pro-btn{
      margin-right: 100px;
    }
    .c7n-upload-list-item{
      margin-left: -80px;
      margin-right: 20px;
    }
    .c7n-upload-list-text {
      display: inline-block;
      .c7n-upload-list-item-name {
        display: inline;
      }
    }
  }
}
