.upload-btn {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  .text {
    display: inline-block;
    width: 100px;
    text-align: right;
  }
  > span {
    width: 25%;
    display: flex;
  }
  > span:last-child {
    a {
      width: 100px;
    }
  }
}
