.lwms-batch-frozen {
  .lwms-batch-frozen-query {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  :global {
    .c7n-pro-pagination {
      float: right;
    }
  }
  .lwms-batch-frozen-line {
    margin-top: 50px;
  }
}
