.my-table-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .table-list-content {
    flex: 1;
  }
  .performance-table-pagination {
    margin-top: 10px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
