.modal-body {
  .mo-info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
    .status {
      padding: 4px;
      background: #E9F3FE;
      border-radius: 4px;
      color: #215CAE;
      font-size: 18px
    }
  }
  .mo-info-other {
    font-size: 20px;
    >div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;
      >div:first-child {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}