.esop-box {
  height: 100%;
  background-color: #141b23;
  padding: 20px;
  overflow: hidden;

  iframe {
    border: none;

    img {
      width: 100%;
    }
  }

  .c7n-pro-select-wrapper {
    background-color: #141b23;
  }

  .esop-header {
    display: flex;
    justify-content: space-between;

    .c7n-pro-select-multiple-block {
      background: #326073;
    }

    .esop-header-title {
      font-size: 16px;
      color: #fff;
      letter-spacing: 0;
      line-height: 22px;
    }
  }

  .esop-content-box {
    height: 100%;

    .esop-query-bar {
      display: flex;
      margin-bottom: 10px;
      align-items: flex-start;

      .c7n-pro-btn {
        background: #131b24;
        border: 1px solid #326073;
        border-radius: 2px;
      }

      .c7n-pro-btn-primary,
      .c7n-pro-input-wrapper {
        background: #326073;
        border-radius: 2px;
      }

      .c7n-pro-select,
      .c7n-pro-input {
        color: #fff;
      }
    }

    .esop-content {
      overflow: hidden;
      background-image: url('./assets/background@2x.png');
      background-size: 100% 100%;
      position: relative;
      height: 100%;

      .esop-content-square {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 80px;
      }

      .esop-content-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 35px;

        .esop-select {
          background-color: #141b23;
        }

        .esop-content-title {
          color: #fff;
          font-size: 18px;

          .c7n-pro-select-expand {
            background: #141b23;
          }
        }

        .select-btn {
          color: #ccc;
          line-height: 3;
          text-align: right;

          .select-btn-item {
            margin: 0 5px;
          }

          .select-btn-item:hover {
            cursor: pointer;
            color: #fff;
          }

          .select-btn-disabled:hover {
            cursor: not-allowed !important;
            color: #ccc !important;
          }
        }
      }

      .esop-content-iframe {
        padding: 20px;
        height: 100%;
        padding-top: 0;
      }
    }
  }

  .page-content {
    background: #141b23;
  }

  :global {
    .c7n-pro-select,
    .c7n-pro-input {
      background: #132330;
      border: 1px solid rgba(68, 130, 153, 0.59);
      color: #4a6b75;

      input {
        border-radius: 2px;
      }
    }

    .c7n-pro-field-label {
      color: #fff;
      outline: #fff;
    }

    .c7n-pro-btn-default {
      background: #131b24;
      border: 1px solid #326073;
      border-radius: 2px;
      color: #fff;
    }

    .esop-box .c7n-pro-btn-default {
      border-color: transparent;
      background: #131b24;
    }

    .c7n-pro-select-suffix .icon:before {
      color: #ccc;
    }

    .c7n-pro-select-suffix .icon:before {
      color: #ccc;
    }

    .c7n-pro-form-focused {
      color: #fff;
    }
  }
}

.esop-query-modal {
  :global {
    .c7n-pro-modal-content {
      background-color: #16232f !important;
  
      .c7n-pro-radio-inner {
        border: 0 !important;
        color: #fff;
        background-color: #16232f !important;
      }
      .c7n-pro-modal-header {
        background-color: #16232f !important;
        border-bottom: none !important;
  
        .c7n-pro-modal-title,
        .c7n-pro-modal-header-button {
          color: #fff;
        }
      }
    }
  }
  .preview-modal {
    .preview-item-content {
      float: left;
      margin: 10px 15px;
    }
    .c7n-pro-radio-inner {
      border: 0 !important;
      color: #fff;
      background-color: #16232f !important;
    }

    .esop-item-title {
      color: #fff;
      text-align: center;
    }

    .esop-item-title:hover {
      color: #5cbbcb;
      cursor: pointer;
    }

    iframe {
      border: none;

      img {
        width: 100%;
      }
    }
  }

  .preview-wrapper {
    .modal-content {
      max-height: 400px !important;
      overflow: auto;
      display: grid;
      grid-template-columns: repeat(4, 23.5%);
      grid-column-gap: 15px;
      // display: flex;
      // justify-content: space-between;
      // flex-wrap: wrap;
      .order-type-card {
        height: 180px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .image {
          margin-bottom: 18px;
          img {
            width: 200px;
          }
        }
        .file-name {
          .title {
            width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 18px;
            font-weight: 500;
            color: #ccc;
            text-align: center;
          }
        }
      }
  
      .order-type-card-active {
        .title {
          font-size: 18px;
          font-weight: 500;
          color: #00b3a9 !important;
          text-align: center;
        }
      }
      .order-type-card:hover {
        .title {
          font-size: 18px;
          font-weight: 500;
          color: #00b3a9;
          text-align: center;
        }
      }
    }
  
    .modal-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      margin-right: 20px;
      span {
        color: #fff;
      }
      .confirm-button {
        background-color: #00b3a9;
        color: #fff;
        border: none !important;
      }
    }
  }
}

.esop-iframe-body {
  img {
    width: 100%;
  }
}
