.surnames {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #386bd7;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  margin-right: 3px;
}
