.news-config {
  padding: 30px 0 10px 10px;
  .default-config-btn {
    display: flex;
    justify-content: flex-end;
  }
  .news-desc {
    color: rgb(170, 170, 170);
    margin-top: 30px;
    font-size: 14px;
  }
}
