.issuePriority-modal {
  background: #fff1f0;
  color: #f5222d;
  padding: 5px;
}
.issueTopic-modal {
  font-size: 18px;
}
.showTooltip {
  color: #29bece;
}
.c7n-pro-tooltip-popup-inner {
  .c7n-pro-output {
    .showTooltip {
      color: #fff !important;
    }
  }
}
