:global {
  .lmes-equipment-monitor-content {
    padding: 0;
    margin: 8px;
    background: #f4f5f7 !important;
    .c7n-progress-circle-path {
      stroke: #2ac5a9 !important;
    }
    .c7n-tabs-nav {
      padding: 3px;
      margin-bottom: 0;
      font-size: 14px;
      color: #344563;
      line-height: 24px;
      border-bottom: 1px solid #e7e7e7;
    }
    .common {
      background: #feffff;
      border: 1px solid #e7e7e7;
      border-radius: 6px;
    }
    .title {
      padding: 11px 17px;
      margin-bottom: 0;
      font-size: 14px;
      color: #344563;
      line-height: 24px;
      border-bottom: 1px solid #e7e7e7;
    }
    @media screen and (min-width: 600px) {
      .monitor-board {
        grid-template-columns: 1fr;
        .board-item:nth-child(2) {
          margin: 8px 0;
        }
      }
    }
    @media screen and (min-width: 1060px) {
      .monitor-board {
        grid-template-columns: 1fr 1fr 1fr;
        .board-item:nth-child(2) {
          margin: 0 8px;
        }
      }
    }
    .monitor-board {
      background: #f4f5f7;
      width: 100%;
      // display: grid;
      display: flex;
      box-sizing: border-box;
      .board-item {
        height: 332px;
        // flex: 1;
        background: #feffff;
        border: 1px solid #e7e7e7;
        border-radius: 6px;
        box-sizing: border-box;
        overflow: hidden;
        .status-chart-warp {
          display: flex;
          justify-content: center;
          align-items: center;
          #status-chart {
            margin: 0 20px 0 15px;
          }
          .pie-legend {
            margin-top: 102px;
            flex: 0 0 calc(100% - 300px);
            > div {
              width: 91px;
              display: flex;
              justify-content: space-between;
              line-height: 12px;
              .pie-dot {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #ff4b4b;
              }
              .pie-dot- {
                background-color: #2ac5a9;
              }
              .pie-dot-RUNNING {
                background-color: #2ac5a9;
              }
              .pie-dot-BREAKDOWN {
                background-color: #ff4b4b;
              }
              .pie-dot-MAINTENANCE {
                background-color: #fba35c;
              }
              .pie-status {
                font-size: 12px;
                color: #868fa4;
              }
              .pie-number {
                font-size: 18px;
                color: #595959;
              }
            }
          }
        }
        #process-chart {
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .inspection-progress {
          padding: 43px 22px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          flex-direction: column;
          .progress-legend {
            > div {
              display: flex;
              align-items: center;
              width: 91px;
              height: 18px;
              float: left;
              margin-top: 4px;
              .progress-dot {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #f3f5f8;
                margin-right: 10px;
              }
              .progress-status {
                width: 40px;
                margin-right: 12px;
                margin-bottom: 0;
                font-size: 12px;
                color: #868fa4;
              }
              .progress-number {
                flex: 1;
                font-size: 18px;
                color: #595959;
                margin-bottom: 0;
              }
            }
            > div:first-child {
              margin-bottom: 10px;
              .progress-dot {
                background-color: #2ac5a9;
              }
            }
          }
        }
      }
      .board-item:first-child {
        width: 45.4%;
      }
      .board-item:last-child {
        width: calc(54.5% - 9px);
        margin: 0 0 0 9px;
      }
    }
    .equipment-andon-status {
      display: flex;
      margin: 8px 0;
      .c7n-tabs-content {
        overflow-y: auto;
        overflow-x: hidden;
      }
      .equipment-andon {
        width: 45.4%;
        height: 280px;
        .andons {
          display: flex;
          flex-flow: row wrap;
          padding: 0 16px;
          height: 200px;
          .andon-item {
            width: calc(50% - 8px);
            float: left;
            display: flex;
            padding: 8px;
            margin-bottom: 16px;
            background: #fafafa;
            border-radius: 2px;
            .icon {
              flex: 0 0 48px;
              img {
                width: 40px;
                height: 40px;
              }
            }
            .andon-info {
              margin-left: 20px;
              > div {
                display: flex;
                justify-content: space-between;
                > p {
                  margin-bottom: 0;
                  span {
                    display: inline-block;
                    padding: 0 7px;
                    background: #ff6b6b;
                    border-radius: 7.5px;
                    font-size: 12px;
                    color: #feffff;
                    line-height: 12px;
                  }
                }
              }
              .name-location {
                margin-bottom: 12px;
                font-size: 14px;
                color: #333;
                line-height: 12px;
                .location {
                  font-size: 12px;
                }
              }
              .datetime {
                font-size: 12px;
                color: #aaadba;
                line-height: 12px;
              }
            }
            .resp {
              span {
                background: #fba35c;
              }
            }
          }
          .andon-item:nth-child(2n) {
            margin-left: 16px;
          }
        }
      }
      .equipment-status {
        width: calc(54.5% - 9px);
        height: 280px;
        margin-left: 9px;
      }
      .hg-equipment-status {
        width: 100%;
      }
    }
    .equipment-map {
      .map-lines {
        padding: 19px 13px 19px 22px;
        .line-item {
          padding-left: 17px;
          padding-bottom: 17px;
          border-left: 1px dotted #d8d8d8;
          position: relative;
          .dot {
            width: 6px;
            height: 6px;
            background-color: #d8d8d8;
            border-radius: 50%;
            position: absolute;
            top: 9px;
            left: -3px;
          }
          .line-title {
            margin-bottom: 12px;
            font-size: 15px;
            color: #333;
          }
          .items {
            overflow: hidden;
            .item {
              width: calc(25% - 16px);
              float: left;
              margin-right: 16px;
              margin-bottom: 10px;
              padding: 14px 12px 12px 11px;
              background: #fafafa;
              border-radius: 2px;
              border-left: 4px solid #2ac5a9;
              > div {
                display: flex;
                justify-content: space-between;
                p {
                  margin-bottom: 0;
                }
              }
              .item-top {
                margin-bottom: 15px;
                font-size: 14px;
                color: #333;
                line-height: 12px;
                .status {
                  font-size: 12px;
                  color: #2ac5a9;
                }
              }
              .item-bottom {
                font-size: 12px;
                color: #aaadba;
                line-height: 12px;
              }
            }
            .BREAKDOWN {
              border-left: 4px solid #ff6b6b;
              .status {
                color: #ff6b6b !important;
              }
            }
            .MAINTENANCE {
              border-left: 4px solid #fba35c;
              .status {
                color: #fba35c !important;
              }
            }
          }
        }
        .line-item:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  .equipment-map-content {
    background: rgb(153, 204, 255);
    border-radius: 6px;
    padding: 10px 15px;
    .one-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .one-line-right {
        display: flex;
        align-items: center;
      }
      .right-prod-line,
      .right-wokercell {
        margin-right: 20px;
      }
    }
    .item-code {
      margin: 5px 0;
      font-size: 16px;
      font-weight: 500;
    }
    .two-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
    }
    .name {
      margin: 10px 0;
      font-size: 16px;
    }
    .people {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      font-size: 16px;
      .people-name {
        margin-right: 20px;
      }
    }
  }
  .chart-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
