.zcom-delivery-apply-detail-content {
  .zcom-delivery-apply-info:not(:first-child) {
    margin-top: 15px;
  }
  :global {
    .c7n-pro-output-wrapper {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .c7n-pro-calendar-picker-disabled {
      .c7n-pro-calendar-picker {
        color: rgba(0, 0, 0, 0.7);
      }
    }
    .c7n-pro-output-disabled {
      border: none;
    }
  }
}
.zcom-delivery-apply-info {
  height: 40px;
  line-height: 40px;
  background: rgb(242, 242, 242);
  font-size: 14px;
  margin-bottom: 15px;
  padding-left: 5px;
  .info-toggle {
    color: #29bece;
    margin-left: 20px;
    cursor: pointer;
  }
  :global {
    .icon {
      color: #29bece;
      font-size: 30px;
    }
  }
}
.line-delete-btn {
  display: flex;
  justify-content: flex-end;
}
