.operation-btn {
  text-align: right;
  margin-bottom: 10px;
  :global {
    .c7n-pro-btn {
      background-color: #eee;
    }
  }
}

.mo-status {
  background-color: #00cc33;
  padding: 2px 4px;
  color: #ffffff;
}
