.jiachen-opfr-sub-header {
  display: flex;
  align-items: center;
  padding: 7px 20px 7px 20px;
  background-color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #333;

  .worker {
    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 2px solid #3f8795;
      margin: 0 16px;
    }
  }

  .inputs {
    flex: 1;
    display: flex;
    justify-content: space-evenly;

    :global {
      .c7n-pro-input-wrapper {
        width: 22%;

        .c7n-pro-input {
          height: 40px;
          width: 100%;
          font-family: PingFang SC;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 28px;
          color: #333333;
        }

        .c7n-pro-input-clear-button,
        .c7n-pro-input-prefix,
        .c7n-pro-input-suffix {
          display: flex;
          align-items: center;

          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }
}
