.purchase-return-order-execution {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vw;
  .purchase-execution-header {
    width: 100%;
    height: 64px;
    line-height: 64px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom, #076476 0%, #1d889d 100%);
    .header-left {
      margin-left: 16px;
    }
    .header-right {
      padding-right: 23px;
      .date-time {
        font-size: 22px;
        color: #fff;
      }
    }
  }
  .purchase-execution-sub-header {
    display: flex;
    padding: 19px 23px 19px 16px;
    background-color: #fff;
    align-items: flex-start;
    .avatar-img {
      > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #3f8795;
      }
    }
    .right-part {
      flex: 1;
      margin-left: 20px;
      .performance-sub-header {
        display: flex;
        justify-content: space-between;
        .lov-suffix:first-child {
          margin-right: 20px;
        }
        .lov-suffix:last-child {
          margin-left: 20px;
        }
        .lov-suffix {
          position: relative;
          flex-grow: 1;
          > img {
            position: absolute;
            z-index: 999;
            top: 10px;
          }
          .left-icon {
            width: 26px;
            height: 26px;
            left: 10px;
          }
          .right-icon {
            width: 24px;
            height: 24px;
            right: 10px;
          }
          .space-left,
          .space-right {
            width: 100%;
            input {
              font-size: 20px;
              color: #999;
              padding: 20px 0 20px 42px;
            }
            .c7n-pro-select-clear-button {
              margin-right: 15px !important;
            }
            .icon {
              transform: scale(2) !important;
            }
            .c7n-pro-calendar-picker-suffix {
              i::before {
                display: none;
              }
            }
          }
          .space-right {
            input {
              padding: 20px 42px 20px 10px;
            }
            .c7n-pro-calendar-picker-inner-button {
              margin-right: 8px;
            }
          }
          :global {
            .icon-close {
              transform: scale(1.5);
              margin-right: 8px;
            }
            .icon-search::before {
              font-size: 22px;
              top: 0 !important;
            }
          }
        }
      }
      .sub-header-info {
        background-color: #d6d6d6;
        height: 55px;
        line-height: 55px;
        display: flex;
        margin-top: 20px;
        padding: 0 20px;
        > div {
          min-width: 27%;
          max-width: 33.33%;
          margin-right: 40px;
          display: flex;
          align-items: center;
          img {
            margin-right: 8px;
          }
          span {
            color: #333;
            font-size: 22px;
          }
        }
      }
      .sub-header-edit-info {
        background-color: #d6d6d6;
        height: 55px;
        line-height: 55px;
        margin-top: 20px;
        padding: 0 20px;
        text-align: center;
        font-size: 22px;
        color: #333;
      }
    }
  }
  .purchase-execution-content {
    height: calc(100vh - 340px);
    overflow: auto;
    :global {
      .c7n-spin {
        width: 100%;
        height: 100%;
        .c7n-progress-loading {
          margin-top: 100px;
        }
      }
      .c7n-pro-input-number-inner-button {
        display: none;
      }
    }
    .purchase-line {
      display: grid;
      align-items: center;
      grid-template-columns: 2% 6% 20% 4% 20% 20% 21%;
      justify-items: center;
      grid-column-gap: 20px;
      height: 88px;
      background-color: #fff;
      margin: 15px 20px;
      padding: 10px 30px;

      .c7n-pro-checkbox-wrapper {
        .c7n-pro-checkbox-inner {
          width: 24px !important;
          height: 24px !important;
        }
        .c7n-pro-checkbox-inner::after {
          transform: rotate(45deg) scale(1.5) translateX(3.5px) !important;
        }
      }

      .custom-counter {
        width: 100%;
        height: 56px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-self: center;

        .counter-button {
          color: #1c879c;
          font-size: 28px;
          flex-basis: 20%;
          text-align: center;
          user-select: none;
          height: 54px;
          line-height: 54px;
          background-image: linear-gradient(0deg, #d5d5d5 0%, #e3e3e3 100%);

          &:active {
            background-image: linear-gradient(
              0deg,
              darken(#d5d5d5, 20%) 0%,
              darken(#e3e3e3, 20%) 100%
            );
          }
        }

        .counter-content {
          color: #1c879c;
          font-size: 28px;
          min-width: 0;
          border: none;
          outline: none;
          flex: 1;
          text-align: center;
          height: 100%;
          label,
          input {
            height: 100%;
            text-align: center;
            border: none !important;
          }
          .c7n-pro-input-number:focus {
            box-shadow: none;
          }
          .c7n-pro-input-number-inner-button {
            display: none;
            width: 0 !important;
          }
        }
      }
      .details-info {
        width: 95%;
        display: flex;
        flex-direction: column;
        text-align: center;
        span:first-child {
          font-weight: 500;
          font-size: 22px;
          color: #333;
        }
        span:last-child {
          font-weight: 500;
          font-size: 18px;
          color: #666;
        }
        span {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
  .purchase-execution-buttons {
    .footer {
      position: fixed;
      display: flex;
      justify-content: space-around;
      bottom: 0;
      z-index: 999;
      width: 100%;
      padding: 16px 80px;
      background: linear-gradient(to bottom, #adaeb0 0%, #c4c5c7 100%);
      > div {
        display: flex;
        align-items: center;
      }
      .icon {
        width: 88px;
        height: 88px;
        margin-right: 32px;
        background-image: linear-gradient(0deg, #cdcecf 0%, #e5e7e9 100%);
        cursor: pointer;
        img {
          margin: 5px 20px 5.3px;
        }
        .line {
          width: 100%;
          height: 2px;
          background-image: linear-gradient(
            90deg,
            rgba(145, 145, 145, 0) 0%,
            rgba(173, 173, 173, 0.49) 50%,
            rgba(151, 151, 151, 0) 100%
          );
        }
        .text {
          margin-top: 2.7px;
          font-size: 16px;
          color: #051e2d;
          text-align: center;
        }

        .c7n-pro-btn {
          width: 100%;
          border: none;
          .c7n-pro-btn-default:focus {
            border-color: none;
          }
          span {
            font-size: 16px;
            color: #051e2d;
            text-align: center;
          }
        }
      }
      > div:last-child {
        .icon:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

:global {
  .purchase-execution-modal {
    width: 70vw;
    .c7n-pro-modal-header {
      background-color: #ebebeb;
      .c7n-pro-modal-title {
        font-size: 22px;
        color: #666;
      }
    }
  }
}

.purchase-execution-content-modal {
  .content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-left {
      display: flex;
      font-size: 24px;
      font-weight: 500;
      width: 50%;
      > div {
        display: flex;
        align-items: center;
        margin-right: 15px;
      }
    }

    .header-right {
      width: 50%;
      :global {
        .c7n-pro-input-wrapper {
          .c7n-pro-input {
            width: 314px;
            height: 48px;
            font-size: 20px;
            color: #999;
          }
        }
        .c7n-pro-btn {
          width: 115px;
          height: 48px;
          border: 1px solid #0c6b7e;
          color: #0c6b7e;
          font-size: 20px;
          margin-left: 15px;
          .icon-add {
            font-size: 24px;
          }
        }
      }
    }
  }
  .content-sub-header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    div:first-child {
      margin-right: 20px;
    }
    > div {
      width: 100%;
      :global {
        .c7n-pro-select-wrapper {
          width: 100%;
          .c7n-pro-select {
            height: 48px;
            font-size: 20px;
          }
          .icon-search::before {
            font-size: 20px;
          }
        }
      }
    }
  }
  .table-list {
    margin-top: 10px;
    .table-col {
      justify-content: flex-start !important;
      padding: 0 1%;
      span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .table-list-header {
      height: 44px;
      background: linear-gradient(to top, #d5d5d5 0%, #e3e3e3 100%);
      font-size: 22px;
      color: #1c879c;
      display: flex;
      align-items: center;
      .table-col {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .table-line {
      border: 1px solid #ccc;
      border-top: none;
      height: 68px;
      background: #fff;
      :global {
        .c7n-row {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }
      .table-col {
        display: flex;
        justify-content: center;
        font-size: 19px;
        font-weight: 500;
        span {
          font-size: 22px;
          color: #333;
        }
        .tag-number {
          color: #1c879c;
        }
        .material-name {
          display: flex;
          flex-direction: column;
          width: 100%;
          .font-grey {
            opacity: 0.7;
            font-size: 18px;
            color: #666;
          }
          .span-ellipsis {
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .material-number {
          font-size: 26px;
          color: #031b2a;
        }
        .details-line-input {
          max-width: 234px;
          height: 56px;
          border: 1px solid #ccc;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 1;
          .counter-button {
            color: #1c879c;
            font-size: 28px;
            flex-basis: 20%;
            text-align: center;
            user-select: none;
            height: 54px;
            line-height: 54px;
            background-image: linear-gradient(0deg, #d5d5d5 0%, #e3e3e3 100%);
          }

          :global {
            .c7n-pro-input-number-wrapper {
              color: #1c879c;
              font-size: 28px;
              min-width: 0;
              border: none;
              outline: none;
              flex: 1;
              text-align: center;
              height: 100%;
              label,
              input {
                height: 100%;
                text-align: center;
              }
              .c7n-pro-input-number-inner-button {
                display: none !important;
              }
            }
          }
        }
      }
    }
    .table-line:nth-of-type(1) {
      border-top: 1px solid #ccc;
    }
    .table-line-even {
      background: #f7f7f7;
    }
    .table-line-height {
      border: 2px solid #1c879c;
    }
    .table-line-height:nth-of-type(1) {
      border-top: 2px solid #1c879c;
    }
  }
  .modal-footer {
    text-align: right;
    height: 80px;
    line-height: 80px;
    :global {
      .c7n-pro-btn {
        width: 123px;
        height: 48px;
        font-size: 20px;
      }
      .c7n-pro-btn-primary {
        background-color: #1c879c !important;
        border: none !important;
      }
    }
  }
}
