.content-search-area {
  display: flex;
  margin-bottom: 30px;
}
.content-calendar-area {
  display: flex;
  justify-content: center;
}
.zplan-holiday-calendar-festival-modal {
  width: 450px;
  margin-top: 100px;
  :global {
    .c7n-pro-modal-header {
      padding: 5px 5px 5px 15px;
      background: rgb(31, 140, 235);
      .c7n-pro-modal-title {
        color: #fff;
      }
    }
    .c7n-pro-modal-body {
      padding: 30px 80px 65px;
    }
  }
  .festival-modal-btn {
    margin-top: 30px;
    text-align: center;
    :global {
      .c7n-pro-btn:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}
.zplan-holiday-calendar-festival-view-modal {
  width: 450px;
  margin-top: 100px;
  :global {
    .c7n-pro-modal-header {
      padding: 5px 5px 5px 15px;
      background: rgb(31, 140, 235);
      .c7n-pro-modal-title {
        color: #fff;
      }
    }
    .c7n-pro-modal-body {
      padding: 15px 80px 65px;
    }
  }
  .festival-modal-btn {
    margin-bottom: 30px;
    text-align: right;
    :global {
      .c7n-pro-btn:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}
