.zcom-statement-initiate-detail-content {
  :global {
    .c7n-pro-output-wrapper {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .statement-warning {
    color: red;
    font-weight: bolder;
  }
  .statement-reset-btn {
    display: flex;
    justify-content: flex-end;
  }
}
