.lmds-item-smd-header {
  .reference {
    display: flex;
    align-items: center;
    .upload-btn {
      display: flex;
      width: 50%;
      .text {
        display: inline-block;
        width: 100px;
        text-align: right;
      }
      > span:nth-child(2) {
        display: flex;
      }
    }
    :global {
      .c7n-pro-form {
        width: 50%;
      }
    }
  }
  :global {
    .c7n-upload-list-text {
      display: flex;
      .c7n-upload-list-item-name {
        display: inline;
      }
      .c7n-upload-list-item-info .icon-attach_file {
        top: 3px;
      }
    }
  }
}
.lmds-item-smd-line {
  .query-area {
    display: flex;
    align-items: center;
    > div {
      width: 50%;
      display: flex;
      align-items: center;
      :global {
        .c7n-pro-form {
          margin-right: 8px;
        }
      }
    }
  }
}
