.zcom-statement-headInfo {
  height: 50px;
  line-height: 50px;
  background: rgb(242, 242, 242);
  font-size: 14px;
  .headInfo-toggle {
    color: #29bece;
    margin-left: 20px;
    cursor: pointer;
  }
}
.zcom-mo-statement-maintain {
  :global {
    .c7n-upload-list-text {
      display: inline-block;
      .c7n-upload-list-item-done {
        display: none;
      }
    }
    .c7n-pro-modal {
      width: 8.5rem;
    }
  }
}
