.form-opinion {
  .c7n-pro-field-label-vertical {
    font-size: 14px;
  }
}
.zcom-delivery-review-headInfo {
  height: 50px;
  line-height: 50px;
  background: rgb(242, 242, 242);
  font-size: 14px;
  .headInfo-toggle {
    color: #29bece;
    margin-left: 20px;
    cursor: pointer;
  }
}
.base-line {
  display: flex;
  height: 40px;
  align-items: center;
  .base-line-tag {
    height: 40px;
    border-left: 3px solid #29bece;
    margin-right: 20px;
  }
  .base-line-title {
    font-size: 16px;
    font-weight: bolder;
  }
}

.delivery-review-headInfo {
  .c7n-pro-input {
    border: none;
    background: #fff !important;
    color: #333 !important;
  }
}
