.kmjx-execcute-report-form {
  display: inline-flex;
  width: 100%;
  :global {
    .c7n-pro-select {
      > ul {
        width: 100%;
        overflow: hidden;
      }
    }
    .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
      padding-right: 0;
    }
  }
}
