.hg-time-compare-table-warp {
  display: flex;
  .c7n-pro-table-wrapper {
    width: calc(50% - 8px);
  }
  .c7n-pro-table-wrapper:first-child {
    margin-right: 16px;
  }
  .c7n-pro-table-empty-row {
    border: 1px solid #e0e0e0;
  }
}
