.table-header-worker-group {
  display: flex;
  justify-content: left;
  align-items: center;
  > section {
    margin-right: 20px;
    display: flex;
    span {
      align-items: center;
      margin-left: 5px;
    }
  }
}
