.lot-number {
  :global {
    .c7n-pro-pagination {
      float: right;
    }
  }
  .query-options {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: space-between;
  }
}
