.model-title {
  font-weight: bold;
  border-left: 2px solid #5e7ee6;
  text-indent: 10px;
  display: inline-block;
  line-height: 14px;
  margin-bottom: 15px;
}

.lwms-tag-print {
  .c7n-performance-table {
    margin-left: 1px;
  }
  .c7n-pro-pagination {
    float: right;
  }
  .header-query {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
  }
}
