.lmes-sales-mo-create {
  :global {
    .c7n-pro-select-multiple {
      .c7n-pro-select {
        ul {
          height: 28px;
          overflow: hidden;
          width: 100%;
        }
      }
    }
    .c7n-performance-table-row-header {
      line-height: 30px !important;
    }
    .lov-input .ant-input {
      padding-right: 28px !important;
    }
    .c7n-pro-pagination {
      text-align: right;
    }
  }
  .lmes-sales-mo-create-query {
    display: flex;
    margin-bottom: 10px;
    align-items: flex-start;
    .right-btns {
      display: flex;
      align-items: center;
      padding: 0.1rem 0;
      margin-left: 8px;
      flex-shrink: 0;
    }
  }
  .require-field {
    input {
      border: 1px solid rgb(255, 188, 0);
      background: rgb(254, 255, 230);
    }
  }
}
.lmes-sales-mo-create-progress-modal {
  width: 800px;
  :global {
    .c7n-pro-modal-body {
      height: 500px !important;
    }
  }
}
