.zcom-customer-item-receive {
  width: 8.5rem;
  .no-editor {
    color: #eee;
  }
  .receive-table {
    margin-top: 10px;
  }
  .receive-button {
    display: flex;
    flex-direction: row-reverse;
    .receive-button-save {
      margin-left: 8px;
    }
  }
  :global {
    .c7n-pro-modal {
      width: 8.5rem;
    }
    .no-editor {
      color: #eee;
    }
  }
}
