.neway-production-task-detail-content {
  .c7n-pro-field {
    .c7n-pro-select-wrapper {
      width: 100%;
    }
    &.mo-workspace-rule {
      .c7n-pro-select-wrapper {
        width: calc(100% - 18px);
      }
    }
  }
  .icon-contact_support-o {
    position: absolute;
    line-height: 28px;
  }
}
