.zcom-customer-delivery-headInfo {
  height: 50px;
  line-height: 50px;
  background: rgb(242, 242, 242);
  font-size: 14px;
  .headInfo-toggle {
    color: #29bece;
    margin-left: 20px;
    cursor: pointer;
  }
}
.base-line {
  display: flex;
  height: 40px;
  align-items: center;
  .base-line-tag {
    height: 40px;
    border-left: 3px solid #29bece;
    margin-right: 20px;
  }
  .base-line-title {
    font-size: 16px;
    font-weight: bolder;
  }
}
.c7n-upload-list-text {
  display: inline-block;
}
.zcom-customer-item-receive {
  width: 8.5rem;
  .no-editor {
    color: #eee;
  }
  .receive-table {
    margin-top: 10px;
  }
  .receive-button {
    display: flex;
    flex-direction: row-reverse;
    .receive-button-save {
      margin-left: 8px;
    }
  }
  :global {
    .c7n-pro-modal {
      width: 8.5rem;
    }
    .no-editor {
      color: #eee;
    }
  }
}

.zcom-return-print-page {
  width: 8.5rem;
  :global {
    .c7n-pro-modal {
      width: 8.5rem;
    }
  }
}
