:global {
  .c7n-pro-select {
    > ul {
      height: 28px;
      overflow: hidden;
      width: 100%;
      display: flex;
    }
    .c7n-pro-select-multiple .c7n-pro-select:not(:last-child) {
      padding-right: 0;
    }
  }
}

.file-td {
  display: flex;
  justify-content: space-around;
  >span {
    height: 36px;
    max-width: 46%;
  }
}
