.registered-label-page{
  .page-left{
    .page-left-line{
      margin-top: 16px;
    }
  }
  .page-right{
  }
}
.label-List{
  height: 240px;
  overflow: auto; 
  .c7n-table-filter-bar{
    display: none;
  }
}