.completion-entry-header {
  .c7n-pro-btn.c7n-pro-btn:hover * {
    color: #fff !important;
  }
}

.completion-entry-content {
  .c7n-pro-table {
    border: none;
  }
  .c7n-pro-table-thead.c7n-pro-table-column-resizable .c7n-pro-table-cell {
    border: none !important;
    background: #fff !important;
    color: #aaadba !important;
  }
  .c7n-pro-table-wrapper .c7n-pro-table table .c7n-pro-table-tbody > tr > td {
    border: none !important;
  }
  .c7n-pro-table-thead {
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-top: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  .c7n-pro-table-tbody {
    .c7n-pro-table-row {
      height: 56px;
      .high-light {
        background: rgba(98, 192, 188, 0.08) !important;
      }
    }
    .c7n-pro-table-empty-row {
      border: none;
      line-height: 1.5;
      height: 40px;
    }
  }
  .c7n-pro-pagination {
    padding-right: 16px;
  }
}

.max-width {
  width: 100%;
}

.field-concat {
  text-align: center;
  padding-top: 0.2rem;
}

.text-wrap {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.down-font {
  font-size: 12px;
  color: #999;
  display: block;
}

.header-Row {
  margin-right: 16px;
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  .header-Col {
    margin-left: 10px;
  }
}
.expand-more {
  display: flex;
  align-items: center;
  color: #62c0bc;
  cursor: pointer;
}
